[2015-05-11 19:43] Ferdi opened #3 ""Learning Objects" app"
Is the core component responsible for defining, storing, managing and providing the relevant APIs for managing learning objects and the repositories they belong to.

- This version should simply implement basic models for  Repository, LearningObject and Course
(https://goo.gl/gmpedb)
- It will be used by the "import" app to store records parsed from the XML doc.

[2015-05-11 19:45] Ferdi opened #4 "Importer app"
Importer module is responsible for providing the APIs for :
- Import course content as tarball file that users can generate by a) exporting the course from studio or b) clicking “download” repository from github
- Parse each item of the course (chapter, sequential, vertical, problem etc.), extract the relevant metadata and the XML representation of the item and insert them in LORE database.
- Assi

[2015-05-11 20:26] Ferdi opened #5 "UI app : one page to upload an OLX tarball"
A page with a from to upload an xml course

![04_importcourse](https://cloud.githubusercontent.com/assets/125561/7574311/524d01b8-f7fa-11e4-80cb-aaa8f938f8f6.png)

The modal / styling etc. is not important at this stage.

[2015-05-11 20:30] Ferdi opened #6 ""Create repository" page"
Create a page / view in the UI app ( #5 ) that allows users to create repositories

![02_create](https://cloud.githubusercontent.com/assets/125561/7574383/ed6f8274-f7fa-11e4-8e13-22f4349a7e13.png)

Authentication / Authorization is not important - Anyone can create repos at this point.

[2015-05-12 15:09] ShawnMilo commented on #3
Django uses integers as primary keys by default. I prefer the use of a uuid4. Is this worth considering for these models? It prevents confusion and conflicts during import, export, and distributed storage.

[2015-05-12 15:13] ShawnMilo commented on #4
How should we handle the same course being imported multiple times? How do we
detect it -- is it unique by repository + course number? What if the "duplicate"
course has been modified?

If it is a re-import, do we version the imported Learning Modules, so
there are now multiple versions of those Learning Modules to choose from?
Do we mark older versions of the Learning Modules as deprecated and li

[2015-05-12 15:14] ShawnMilo commented on #4
Courses have static content (JavaScript, CSS, images). Is there a benefit in
uploading this to a CDN or online storage and embedding links in the imported
Learning Objects? It seems that something like this is needed (URL embedding)
even if only to point to an edX instance, and since there are no guarantees
that a course's content will be live on a particular instance, a CDN seems
like a good alte

[2015-05-12 15:17] Ferdi commented on #3
I'm not sure about the implications in Django but I like the idea and we need uuid-s - It's currently separate from the primary key https://goo.gl/gmpedb.

[2015-05-12 15:23] ShawnMilo commented on #3
In the past, I've subclassed Django's `models.Model` to one that automatically uses UUIDs as the primary key, and automatically stores the date created (`auto_now_add=True`) and the last modified date (`auto_now=True`). Also, a "notes" field about any modifications made by admins, and foreign keys to the user who created and last modified them.

(Then used this model everywhere instead of `models.

[2015-05-12 15:24] Ferdi commented on #4
org + coursenumber + semester should uniquely identify the course.

[2015-05-12 15:31] carsongee commented on #3
That sounds good for inheriting from a common model with extra fields. A question about the database model, is uuid in the diagram supposed to be equivalent to the OLX "url_name" that is often, but not always, a uuid?  If so, we need to make sure that we don't use that uuid as a PK since there will be duplicates among different courses, and xbundle, for example, will strip those out and replace th

[2015-05-12 15:31] Ferdi commented on #3
Some say it's tricky in Django: http://stackoverflow.com/a/3944247

[2015-05-12 15:32] carsongee commented on #4
I think we will need to upload the static assets to be able to export problems, but we should use django storage to do that so we can swap out the backend at will

[2015-05-12 15:32] Ferdi commented on #3
@carsongee, in the current diagram uuid is machine generated.

[2015-05-12 15:42] ShawnMilo commented on #4
@carsongee, that implies that we need to parse the XML to determine which Learning Objects consume which static content. Looking at a course, it seems that there's no other way to determine which static file belongs to which Learning Object; multiple items could refer to the same resource in their XML, and due to the hierarchy, there will be overlap (if a problem uses a file, then by definition so

[2015-05-12 15:49] Ferdi opened #8 "Taxonomy app"
Provides the APIs for a) defining the taxonomy system, managing vocabularies and taxonomy terms and adding them for each repository and b) assigning taxonomy terms to learning objects.

See also https://goo.gl/gmpedb

[2015-05-12 16:04] carsongee commented on #4
Agreed, static files are tricky, and I'm not sure how completely we want to deal with them at first.  We can always just store everything for a course in a single folder/container, and then parse the exported XML files for what static content it needs on export which is how edX does it using their "magic" `/static/file_name.jpg` url expansion to find the correct files.  If we do that we don't have

[2015-05-12 16:09] Ferdi commented on #3
Some details about the LearningObject schema :

| name | comment |
| --- | --- |
| loid | Primary key ID , numeric |
| cid | Course ID |
| rid | Repository ID |
| type | Learning object type (chapter, sequential, vertical, video, html etc.) |
| uuid | UUID , uniquely identifying a learning object across LORE instances |
| title | learning object title, extracted from xml |
| description | _user_ g

[2015-05-12 16:44] pwilkins commented on #4
re: _"org + coursenumber + semester should uniquely identify the course."_  I know that the assumption is that since LORE courses have already run, but what happens should the course change in its github repository?

[2015-05-12 20:28] noisecapella commented on #8
Some initial thoughts on an API for taxonomy. Does this make sense given the data?

GET taxonomy/learning_object/1/vocabularies - List of vocabularies for a learning object
GET taxonomy/learning_object/1/terms - List of valid terms for a learning object

GET taxonomy/vocabulary/1 - vocabulary information
POST taxonomy/vocabulary - create new vocabulary
PUT taxonomy/vocabulary/1 - update existing v

[2015-05-12 20:34] Ferdi commented on #8
It would be a good start on the REST api.  This should just be a  Django app that simply implements the models. What you have here would go in the REST app https://goo.gl/P3NsMd

[2015-05-12 20:44] Ferdi commented on #8
By "API" , I meant, public methods like :

[code]

will return all vocabularies that applies to  learning object of certain type (e.g. "problems")
You'd then use that in REST to do what you have above

GET taxonomy/vocabulary/1/types - List of valid learning object types for vocabulary

[2015-05-13 13:01] ghost commented on #3
I'm changing some of the field names:
https://gist.github.com/trski/6ea8c8afb4f783c71b42
Just included some '_' for readability for the python variables and changed 'when' to 'date' so we know the field is a date type.

[2015-05-13 14:08] Ferdi commented on #3
:+1:

[2015-05-13 14:22] noisecapella commented on #8
Do these models make sense?

class Vocabulary(models.Model):
    vid = models.AutoField(primary_key=True)
    rid = models.ForeignKey("Repository")
    name = models.TextField()
    description = models.TextField()
    required = models.BooleanField()
    type = models.TextField()  # TODO: or enum? CharField?
    weight = models.IntegerField()  # TODO: or float?

class VocabularyUnitType(models.Mo

[2015-05-13 14:26] Ferdi commented on #8
looks good.  weight - int.  type  - enum

[2015-05-13 14:30] Ferdi commented on #8
Can we rename VocabularyUnitType to VocabularyObjectType or VocabularyLearningObjectType ?

The LearningObject table was previously called Unit. I renamed it but forgot to rename the vocabulary_unittype table

[2015-05-13 14:30] carsongee commented on #8
nit: I would prefer to just let Django make primary key, and not add the v letter since it is redundant

[2015-05-13 14:31] carsongee commented on #8
Same for all these models, just let the pk be implicit

[2015-05-13 14:34] carsongee commented on #8
Also, the foreign keys should generally just be the model name, i.e. vocabulary for the Vocabulary foreign key, it makes using the ORM more intuitive, i.e.:

[code]

[2015-05-13 14:34] ShawnMilo commented on #8
Also, the foreign key names should not contain `id`. For example, `LearningObjectTerm` should have `learning_object` and `term`, not `loid` and `tid`.

Edit: GMTA, @carsongee

[2015-05-13 14:34] carsongee commented on #8
LOL

[2015-05-13 14:37] pdpinch commented on #8
Would this be an easier conversation to have on a PR, around the code?

[2015-05-13 14:38] ShawnMilo commented on #8
@pdpinch Sure. Carson and I were trying to recommend some common Django conventions we're used to seeing.

[2015-05-13 15:47] pdpinch commented on #3
Have you pushed anything yet?

On May 13, 2015, at 9:01 AM, trski <notifications@github.com> wrote:

[2015-05-13 15:52] ShawnMilo commented on #4
Regarding testing LORE imports: I need to use a course (or multiple courses) for unit tests. I was thinking it should be [edx-demo-course](https://github.com/edx/edx-demo-course), because it's probably not going to change too much, and it's open to the public (can't have the test suite blocked from running by permissions, nor can we embed private courses in this public repo).

The zip file from gi

[2015-05-13 16:07] pdpinch commented on #4
This doesn't completely address your question, but we should also include this course in testing: https://github.com/pmitros/edX-Insider

It is referenced from the [OLX documentation](http://edx-open-learning-xml.readthedocs.org/en/latest/example-course/index.html) as a model OLX course without a Studio provenance. It won't surface all our edge cases, but it will surface some.

Totally wacky idea

[2015-05-13 16:14] ShawnMilo commented on #4
@pdpinch: Thanks, I'll add that as well.

[2015-05-13 16:14] carsongee commented on #4
I think we should make our own example course that tests out edge cases, that is what the devops course is for us, no reason not to make one here, and use submodules to include in the testdata directory (we can sanitize that course for public consumption as well, if we want to use it).  I would also expect there to need to be multiple courses to do unit testing, we can do that with very small simp

[2015-05-13 16:15] carsongee commented on #4
wow, hit submit too early

[2015-05-14 02:07] Ferdi opened #12 "UI app: Skeleton"
Create the skeleton of the UI app

[2015-05-15 00:59] pdpinch opened #15 "As a developer I would like to have third party CSS and JavaScript packages"
- [x] add a packange manager
- [ ] add bootstrap support

[2015-05-15 01:58] Ferdi commented on #15
:+1:

@carsongee 's PR looks good.  bower or browserify ?

[2015-05-15 02:18] Ferdi opened #16 "Authentication"
- [x] Allow users to authenticate using MIT certificate authentication via CAS
- [x] MIT auth should be pluggable , easily enabled / disabled in any LORE instance.

[2015-05-15 14:30] carsongee commented on #15
Browserify solves a different problem, preprocessing javascript in templates via require statements, bower just downloads modules.  This issue wasn't to create an asset pipeline, which is still something we need to do as well, but is not coupled to bower at all.  I would like to make that piece a separate issue/story.

[2015-05-15 14:48] carsongee opened #17 "Create Static Asset pipeline with optional minification and JavaScript dependencies"
As a user, I would like the fastest and leanest JavaScript and CSS files possible to make the user experience faster, and as a developer, I would like to use require.js style semantics for including javascript libraries into my templates.
https://www.pivotaltracker.com/story/show/94671190

[2015-05-15 16:15] Ferdi commented on #15
sounds good

[2015-05-15 16:16] Ferdi commented on #15
see #17

[2015-05-15 18:34] carsongee commented on #15
The tasks say add bootstrap, you sure you want me to do that now, or just wait until we need it?

[2015-05-15 19:07] Ferdi commented on #15
We can move that to a separate issue, if you prefer.

[2015-05-15 19:57] carsongee commented on #16
Do we want any attributes to come from CAS? By default, you get nothing but the username, no e-mail, name, etc. We can add some of those depending on the client we use, but chances are that we are going to have to submit some patches to it to make it 1.8 compatible.  We can even pull in groups from the CAS server as well, but I kind of assume we don't want this to provide authz

[2015-05-15 20:00] Ferdi commented on #16
I would keep it simple for now. Does getting the username means we get the e-mail too, as username@mit.edu ?

[2015-05-15 20:47] carsongee commented on #16
The code won't store that, and due to collaborator accounts, that won't hold true.  For example, if you make a jim@example.com collaborator account the username will be jim_1@touchstonenetwork.net assuming he is the first jim.  Similarly with google accounts (if we allow that), we wouldn't get that either.  That said, the CAS server can provide that information, we just have to write some code to

[2015-05-18 12:47] #15 closed

[2015-05-18 14:38] Ferdi opened #22 "Welcome page"
Implement LORE  welcome page

![01_welcome](https://cloud.githubusercontent.com/assets/125561/7682973/ecdc4500-fd49-11e4-8002-b66418f98383.png)

[2015-05-18 14:42] Ferdi opened #23 "Create "learning object detail" page"
The view in the sliding window although sliding should be ignored and let just be a simple page in this version

![06_loview](https://cloud.githubusercontent.com/assets/125561/7683061/794d55e2-fd4a-11e4-961c-d89479ca541b.png)

[2015-05-18 14:46] Ferdi opened #24 "LearningObjects listing page"
The main listing page.  Just a simple list of learning objects for this version.  No search.

![03_repohome](https://cloud.githubusercontent.com/assets/125561/7683152/2c4b9bf4-fd4b-11e4-8d2f-f657ef8b32d1.png)

[2015-05-18 14:51] Ferdi opened #25 "Add vocabulary page"
Simple page, no need for modal or special theming.

![08_managevocab2](https://cloud.githubusercontent.com/assets/125561/7683265/d3d7ef08-fd4b-11e4-9e84-3db25554030a.png)

[2015-05-18 15:01] Ferdi opened #26 "Roles and permissions"
- [x] #129 Members REST API for managing users in repositories
- [x] #160 Roles and permissions: Create a lore_admin role
- [x] #132 Add authorizations to the taxonomy APIs

![screenshot 2015-05-18 11 00 25](https://cloud.githubusercontent.com/assets/125561/7683443/37b33d60-fd4d-11e4-9e76-f6edf4a7b652.png)

[2015-05-18 15:11] carsongee opened #28 "Asynchronous Course Import"
As a user, I would like to not have my course imports timeout when I either have a slow Internet connection, a large course, or a bit of both.  Dependent on #4

[2015-05-18 16:42] pdpinch commented on #6
@Ferdi "just the form and nothing else"

[2015-05-18 16:43] Ferdi commented on #6
Right, we are focusing on functionality now, not the theming.

[2015-05-18 20:25] pdpinch commented on #28
@ShawnMilo asked:

[2015-05-18 20:40] pdpinch commented on #3
I believe this was closed by #10. @Ferdi are you OK with that?

[2015-05-18 21:44] carsongee commented on #28
I figured celery with a DB backend to save on external resource dependencies, until we need to something more dedicated, that way we could keep the result store in SQL and be more flexible on the message broken. All that said, this is just from past experience and what we've used here already, I'm always interested in trying something different.

[2015-05-18 21:49] ShawnMilo commented on #28
Are we planning to have Redis, one way or another? I like using it for sessions and caching, due to its auto-expiration and easy interface. If so, I really like [rq](http://python-rq.org/). It doesn't have the equivalent of Celery's `periodic_task`, so if we don't need a "cron" then it's simpler.

[2015-05-19 00:25] Ferdi commented on #3
I think it's good for now. We can always open new issues for improvements / fixes.

[2015-05-19 12:47] #3 closed

[2015-05-19 13:57] pdpinch commented on #4
Which PRs need to be merged to close this?
- [ ] #19
- [x] #21

[2015-05-19 14:00] ShawnMilo commented on #4
#21. It includes the other, but was rebased again.

[2015-05-20 14:36] carsongee opened #33 "AdminModels for All Models"
As a Django application administrator I would like to have a Django admin interface for each model that allows me to manipulate data directly without direct shell access to the system running the application to resolve real time problems with data integrity caused by internal (our django code), external (caused by issues in postgresql), to restart celery jobs that have failed due to operational is

[2015-05-20 20:43] Ferdi opened #34 "Rename "learning object" to "learning resource""
From the meeting with Dept. of Physics :

Renaming the app and the model are 2 things that come in mind.

[2015-05-20 20:45] Ferdi opened #35 "Learning Resource static asset dependencies"
Each learning resource can in principle have its own dependencies. For example, videos have transcript files, problems have images, HTML will often have javascript and CSS files, to name but a few. Links to these dependencies should be stored with each learning resource.

Furthermore, resources like CSS files and javascript libraries should be noted as library objects which are common to multiple

[2015-05-20 20:47] #17 closed

[2015-05-21 13:43] pdpinch commented on #34
closed via #36

[2015-05-21 13:43] #34 closed

[2015-05-21 15:03] pdpinch commented on #28
@Ferdi can you weigh in on rq vs. celery? rq adds a dependency on redis, celery gives us more options (like memcached). edX uses celery, so the rest of the team has a little more experience with it.

[2015-05-21 15:09] Ferdi commented on #28
Either it's fine with me.

[2015-05-21 15:30] ShawnMilo commented on #34
This was handled in #36.

[2015-05-21 16:38] pdpinch opened #39 "Test import with 8.MReV and 8.MechCx"
There are two additional courses from Dave Pritchard's group that we should include in the initial release. The "AB experiments" in the 8.MReV example may be troublesome.

These are now in the archive repo as well, at

https://github.mit.edu/edX-Archives/edX-Archive-8.MReVx-2T2014
https://github.mit.edu/edX-Archives/edX-Archive-8.MechCx-1T2015

[2015-05-21 16:59] pdpinch commented on #39
@ShawnMilo FYI

After some preliminary examination, it appears that a "AB Experiment" or "Content Cohort" is applied through a combination of a `user_partitions` section in the policy.json and corresponding `group_access` attributes on the xblock tags (leaf only). So it shouldn't affect import at all.

However, I'm not sure if the 8.MReV course with "irregularities" mentioned above conforms to thi

[2015-05-21 22:06] #16 closed

[2015-05-26 18:51] #4 closed

[2015-05-26 18:52] carsongee opened #41 "Add modernize to automatic checks"
Add python modernize to the build as well as fix any outstanding python six problems we currently have.  Especially look at unicode literals in `tests/test_settings.py`

[2015-05-26 22:10] carsongee opened #47 "Update to Django 1.8.2"

[2015-05-26 23:36] ShawnMilo commented on #47
This is due to a [security release](https://www.djangoproject.com/weblog/2015/may/20/security-release/)

[2015-05-27 16:07] ShawnMilo opened #49 "Add logging config to settings."
This makes debugging test failures much easier.

[2015-05-27 17:38] carsongee opened #51 "Add email support to configuration"
As a ops person, I would like to get error reports via an e-mail server, username, and password of my choosing.

[2015-05-27 19:56] carsongee opened #52 "Bug: Import does not accept studio exported course tar.gz files"
Currently the import upload will only accept tar.gz files that have a single folder in their root, and then import the course in that folder.  This misses on a major OLX convention that if the root folder contains a course.xml file, the tar file should be imported as a single course, and if there are folders in the tar.gz file without a course.xml file, each folder should be imported as a separate

[2015-05-27 20:18] pdpinch commented on #47
Closed via #48

[2015-05-27 20:18] #47 closed

[2015-05-27 20:52] #51 closed

[2015-05-27 23:10] ShawnMilo commented on #52
Roger, wilco.

[2015-05-28 13:36] pdpinch commented on #5
Closed via #21

[2015-05-28 13:36] #5 closed

[2015-05-28 13:37] pdpinch commented on #6
This is now part of #44

[2015-05-28 13:38] pdpinch commented on #8
Closed via #42

[2015-05-28 13:38] #8 closed

[2015-05-28 15:41] pwilkins opened #55 "Create API documentation using Sphinx autodoc"
Add Sphinx documentation tools to generate API docs from code docstrings. Uses Google doc style through Napoleon and the Sphinx Bootstrap theme.
1. Add Sphinx autodoc tooling
#. Create TOX env to create Sphinx doc
#. Create ReadTheDocs site for LORE documentation

[2015-05-28 17:04] #6 closed

[2015-05-28 17:04] #22 closed

[2015-05-29 01:12] pdpinch opened #57 "As a curator, I want to import a course into the current repository"
In the current implementation of the course import form, a new repository is created with every import.

Based on the screen design at https://projects.invisionapp.com/share/YK2WMS4WN#/screens/77439557 it appears that the import button is only available after a user has chosen a repository, and new courses are imported into the current repository.

[2015-05-29 03:06] ShawnMilo commented on #57
This was actually already being worked on today as part of #24. The existing implementation was a shortcut to get #21 working, but now it's getting fleshed out.

This issue can be closed, or I'll close it when #24 is merged.

[2015-05-29 12:48] pdpinch commented on #57
Excellent. I wasn't sure if it was obvious.

[2015-05-29 12:48] #57 closed

[2015-05-29 18:57] pdpinch commented on #39
@amir-qayyum-khan has started to look into this from the xbundle end of things.

See https://github.com/mitodl/xbundle/issues/33 and https://github.com/mitodl/xbundle/issues/34

[2015-05-29 21:50] pwilkins commented on #55
closed by merge of PR#56

[2015-05-29 21:50] #55 closed

[2015-05-29 22:49] #49 closed

[2015-06-01 15:30] carsongee opened #59 "Travis should use Postgresql for Testing"
To have parity with production and the docker environment, Travis CI build should use Postgresql

[2015-06-01 17:20] pdpinch opened #61 "When creating a repository, also create a slug"
This will give us nice URLs for repositories.

And this will give us human-readables names for authorization groups -- although if we use the slug for that purpose we will have to change the group-name whenever a repository is renamed.

[2015-06-01 17:32] pdpinch opened #62 "As a curator, when I import a course use my current repository"
as defined by the current URL

[2015-06-01 18:39] pdpinch commented on #52
I believe this will be fixed when @ShawnMilo PRs https://github.com/mitodl/lore/tree/feature/skm/listing

[2015-06-01 19:08] ShawnMilo commented on #52
Yes, this is included in the forthcoming PR.

[2015-06-01 20:42] ShawnMilo commented on #61
Part of PR #64.

[2015-06-01 20:43] ShawnMilo commented on #12
Is this considered complete? The `ui` app is already in `master` and contains all the templates in the repository.

[2015-06-01 20:43] ShawnMilo commented on #62
In #64.

[2015-06-01 20:43] ShawnMilo commented on #52
In #64.

[2015-06-01 20:44] ShawnMilo commented on #24
PR #64.

[2015-06-01 20:56] #59 closed

[2015-06-02 02:22] Ferdi commented on #12
Yes, closing.

[2015-06-02 02:22] #12 closed

[2015-06-02 15:16] pdpinch opened #65 "start taxonomy URLs with <repo_slug>"
i.e.  ```/<repo_slug>/vocabulary/<vocabulary_slug>```

[2015-06-02 15:20] pdpinch opened #66 "As a developer, I want to know how to build the docs"
@pwilkins wrote:

[2015-06-02 15:41] pdpinch commented on #65
From @carsongee via HipChat:

[2015-06-02 19:13] carsongee opened #69 "Apply design to base template, create repo form, and import form"
Add all needed CSS, javascript, and images, and convert designer HTML design to django templates with holes for views extending base.html.

[2015-06-02 19:24] #66 closed

[2015-06-02 19:29] #69 closed

[2015-06-02 19:57] pdpinch opened #70 "update docstrings in importer"
We added repo_id to a bunch of methods

https://github.com/mitodl/lore/pull/64/files#r31520091
https://github.com/mitodl/lore/pull/64/files#r31520120
https://github.com/mitodl/lore/pull/64/files#r31562349

Hopefully these links to the discussion will survive the PR being merged.

[2015-06-02 21:16] #24 closed

[2015-06-03 00:14] carsongee opened #72 "As an admin/developer I would like to be able to use the dbshell command in docker"
I think we just need to add `postgresql-client` to the apt.txt to solve this

[2015-06-03 02:58] Ferdi opened #73 "LearningObjects listing page 2"
Continue the work done on #24

- [x] Move "import" link to the top of the page  (see [2])
- [ ] Apply new template to the listing (as much as we can ) [3]
- [x] Apply new template to the left navigation ( just the look and feel more than the functionality)  [4]

![mitlore](https://cloud.githubusercontent.com/assets/125561/7951858/d692e1a4-097a-11e5-9e2c-b614020a5f23.png)

Items moved to #75
- chan

[2015-06-03 03:07] pwilkins commented on #73
@Ferdi  "Move import link to top of page" as it is in http://pureui.com/c/mit/lore/build001/ where it's named "Import Course"?

[2015-06-03 03:19] Ferdi opened #74 "cleanup welcome page"
Just logging a couple of issues ..

- [x] remove " Return to welcome page"
- [x] Move 'endfor' before the 'ul' tag https://goo.gl/1Hu1QK

Moved to #75:
- change /lore/create_repo to repositories/new
- change /lore/welcome  to  /home

Moved to #76:
- When user clicks "Add repo" (at the  lore/create_repo page) , it should redirect to the newly created repository (listing page). Currently it redirect

[2015-06-03 03:24] Ferdi commented on #73
@pwilkins yes, thanks !

[2015-06-03 10:39] pdpinch opened #75 "As a user, I'd like URLs that contain my repo name"
Gathering related items from #73 and #74

- [x] change the url of the listing page from /lore/listing/3/1 to /repositories/repo_slug
- [x] change /lore/create_repo to repositories/new
- [x] Change "import" url from importer/upload/repo_id to repositories/repo_slug/import or repositories/repo_id/import
- [x] change /lore/welcome  to  /home

[2015-06-03 10:41] pdpinch opened #76 "As a user, when I create a repo I want to go directly to it"
breaking out item from #74

- [ ] When user clicks "Add repo" (at the lore/create_repo page) , it should redirect to the newly created repository (listing page). Currently it redirect to the welcome page

[2015-06-03 13:49] amir-qayyum-khan commented on #39
@pdpinch @ShawnMilo @carsongee

**On uploading both course on Lore i get exception**
https://gist.github.com/amir-qayyum-khan/a3e01160b35392450ff0
![screen shot 2015-06-03 at 6 46 28 pm](https://cloud.githubusercontent.com/assets/10431250/7961453/20dc24e0-0a21-11e5-9291-b52fcd850e4f.png)

**On going back I see course
![screen shot 2015-06-03 at 6 49 26 pm](https://cloud.githubusercontent.com/asset

[2015-06-03 14:23] pdpinch opened #77 "style detail view"

[2015-06-03 14:50] ShawnMilo commented on #62
Merged into master.

[2015-06-03 14:50] #62 closed

[2015-06-03 14:50] ShawnMilo commented on #61
Merged into master.

[2015-06-03 14:50] #61 closed

[2015-06-03 14:51] ShawnMilo commented on #23
Merged into master with #64.

As described above, it's just a "simple page" -- it just exports the XML. A separate issue is open to deal with styling.

[2015-06-03 14:51] #23 closed

[2015-06-03 15:23] noisecapella commented on #75
What about the export url? Currently it's export/<resource_id>

[2015-06-03 15:26] noisecapella commented on #75
And status?

[2015-06-03 15:27] pdpinch commented on #23
Styling issue is #77

[2015-06-03 15:34] ShawnMilo commented on #75
I believe status is deprecated. It was just there so I could demo that the original import branch did something.

[2015-06-03 15:36] noisecapella commented on #75
Ok, I'm moving status to /status and export to /export and we can remove those in a later story

[2015-06-03 15:36] noisecapella commented on #75
Remove status I mean, move export somewhere appropriate

[2015-06-03 15:47] Ferdi commented on #75
Yes, good point on "export".

export/resource_id should be changed to   learningresources/resource_id  or     /lr/resource_id

[2015-06-03 15:47] ShawnMilo commented on #39
I have not been able to duplicate the error at all. If you delete your database again and undo any changes you did with `makemigrations`, does it still happen?

I don't see the constraint being created in the migration file.

[2015-06-03 15:53] #76 closed

[2015-06-03 15:53] ShawnMilo opened #80 "fix uniqueness constraints"
It appears that #39 is being caused by constraints in the models that aren't in the migrations, probably caused by typos reported by @noisecapella, where `Meta` was spelled `meta`, and therefore didn't result in the migration file containing the appropriate constraints.

Deleting and recreating the migration file results in this diff:

[code]

----

This requires a decision. Right now, the courses

[2015-06-03 15:54] ShawnMilo commented on #39
This is caused by #80. Decision needed.

[2015-06-03 15:56] Ferdi commented on #80
It would be great to add UUIDs as we have discussed earlier.  For now, whatever it's easier for you.

[2015-06-03 15:57] ShawnMilo commented on #80
Right now it's just easier to remove the `Meta` section altogether, since it's actually not functioning.

[2015-06-03 15:59] ShawnMilo commented on #80
Although easier isn't necessarily better, come to think of it. Because it will allow data to be imported that will violate the constraints we want to add later.

So remove constraints now and accept that all databases will have to be deleted some time between now and actual release, or redo the migrations and delete all databases today. I think that would be better in the long run.

I change my vo

[2015-06-03 18:13] pdpinch commented on #74
fixed via #82

[2015-06-03 19:14] #74 closed

[2015-06-03 19:42] pdpinch commented on #75
fixed via d826cfb

[2015-06-03 19:42] #75 closed

[2015-06-04 01:21] pdpinch commented on #73
@Ferdi Peter has a PR #87 that replaces the table of resources with divs using Nicholae's styles. Here's a screenshot of a decent-looking page:

![screen shot 2015-06-03 at 9 01 32 pm](https://cloud.githubusercontent.com/assets/430126/7974786/0cb1add8-0a34-11e5-8dec-b79e85808870.png)

We've got a number of issues:
- [ ] Many resources don't have names. The screenshot lists ones that do.
- [ ] I do

[2015-06-04 01:22] pdpinch commented on #77
At the moment, detail view returns raw XML to the browser.

[2015-06-04 01:23] Ferdi commented on #73
looking ..

[2015-06-04 02:11] Ferdi commented on #73
I made some small changes in this commit http://bit.ly/1Ij6J0f that addresses your questions above.
![screenshot 2015-06-03 22 09 46](https://cloud.githubusercontent.com/assets/125561/7975562/6d2031cc-0a3d-11e5-9486-5e5f146969a1.png)

[2015-06-04 02:36] pdpinch opened #89 "As a user, I need to sort resources in the listing view"
Sort orders include alphabetical, run, course. We should be able to sort acending or descending.

@ShawnMilo can we default to sorting in the order that blocks appear in the courseware?

[2015-06-04 02:39] Ferdi opened #90 "Provide a "home" link for repositories"
When users import courses, add vocabularies etc. there should be a link for them to get back to the repository home page (listing page)

- [ ] Change lable from "Viewing Repository" to "Repository"
- [ ] Make the repository name a link

![lorelistinghome](https://cloud.githubusercontent.com/assets/125561/7975864/559a7798-0a41-11e5-9363-f57d8716f3a0.png)

[2015-06-04 04:08] ShawnMilo commented on #89
Would sorting it by the `materialized_path` work? (That's one of the fields visible on the listing page.) Is that what you mean? All courses first, then all chapters, then all verticals, etc.?

[2015-06-04 04:16] Ferdi opened #92 "Style the welcome page"
Clean up the welcome/home page and update the look and feel. From the mockups:

![01_welcome](https://cloud.githubusercontent.com/assets/125561/7976803/cac22a4a-0a4e-11e5-8104-9de603791528.png)

[2015-06-04 07:39] amir-qayyum-khan commented on #39
@ShawnMilo
I am still getting this issue. FYI What I did

1) Rebase Lore
2) Reset project using git reset --hard mit_origin/master
3) Stop docker docker stop lore_db_1
4) Reset database docker rm lore_db_1
5) docker-compose up

Still getting same issue,

[2015-06-04 10:28] pdpinch commented on #39
Amir, try the following:

[code]

The `boot2docker destroy` may be the key step for the clean up you need.

On Jun 4, 2015, at 3:39 AM, Amir Qayyum Khan notifications@github.com wrote:

[2015-06-04 10:54] pdpinch commented on #89
Not exactly what I was looking for, but it might be a better default than the current alphabetical.

Can you submit a small PR, or point out the code to change to try it?

On Jun 4, 2015, at 12:08 AM, Shawn Milochik notifications@github.com wrote:

[2015-06-04 11:07] #73 closed

[2015-06-04 11:56] amir-qayyum-khan commented on #39
ok Peter, let me do it

Thanks

[2015-06-04 13:23] ShawnMilo commented on #89
It's `get_resources` in `learningobjects/api.py`.The whole function is currently just one line that returns a queryset.

If you want it ordered by any other field (currently `title`), then that's easy. If you want it sorted by something other than a straightforward `WHERE` clause, then it will be more complicated.

[2015-06-04 13:37] amir-qayyum-khan commented on #39
@pdpinch @ShawnMilo fixed exception by running these command.

[code]

By the way now it is showing me imported course (edX-Archive-8.MReVx-2T2014) with 163 pages? Is this behaviour OK?

[2015-06-04 13:58] ShawnMilo commented on #39
@amir-qayyum-khan, yeah, that result looks good. It was breaking due to the extra `makemigrations` step you ran. You shouldn't have to do that unless you change the content of a `models.py` yourself.

[2015-06-04 14:28] #90 closed

[2015-06-04 14:33] amir-qayyum-khan commented on #39
thanks @ShawnMilo ,

[2015-06-04 15:29] ShawnMilo commented on #28
@carsongee: No rush, but at some point I'll want to know what I should do regarding running Celery for tox and Heroku. Are we going to use [supervisor](https://pypi.python.org/pypi/supervisor)? Can we run multiple blocking commands? I'll make something work for local testing, but I'm guessing you already have a preferred way of doing this in production.

[2015-06-04 16:12] pwilkins opened #96 "Fix styling of "Listing" link in Welcome page menu bar"
This was introduced with the Welcome page cleanup - PR#93.  The "Listing" text is the wrong font.  It may not need a fix since the design may change anyway but I've added it here just to track it.

![screen shot 2015-06-04 at 11 45 57 am](https://cloud.githubusercontent.com/assets/145821/7988720/e7ff8b52-0ab2-11e5-9519-3cdc36d0b92f.png)

[2015-06-04 16:36] ShawnMilo commented on #28
Regarding using the database backend to reduce dependencies:

The [Celery documentation](http://celery.readthedocs.org/en/latest/getting-started/brokers/django.html) states that:

Using it also requires installing `django-celery`, which is otherwise deprecated since Django support is built in to Celery now.

The [supported brokers](http://celery.readthedocs.org/en/latest/getting-started/brokers/in

[2015-06-04 17:18] Ferdi commented on #96
I thought I removed it  ?

[2015-06-04 17:20] pdpinch commented on #96
I'm pretty sure it's gone. I think Peter was looking at an outdated branch.

[2015-06-04 17:29] pdpinch commented on #96
To put a finer point on it, I don't see this anymore on https://lore-ci.herokuapp.com

[2015-06-04 17:29] #96 closed

[2015-06-04 17:36] ShawnMilo opened #97 "Update listing page pagination to use the querystring instead of the URL"
Instead of `example.com/repo-name/2` for page 2, it should be `example.com/repo-name?page=2`.

There will be no `1` for page 1 -- that should be the default.

[2015-06-04 17:38] pdpinch commented on #92
closed via dc776e1

[2015-06-04 17:38] #92 closed

[2015-06-04 19:44] #28 closed

[2015-06-04 19:46] #97 closed

[2015-06-04 19:46] ShawnMilo commented on #89
@pdpinch Ideally, how would you like sorting to work? I'll use that as a starting point.

Also, is it maybe unnecessary in the short term, if the search engine will provide more robust sorting options?

[2015-06-04 19:49] noisecapella opened #100 "Add REST API"
Acceptance Criteria:

- [x] Create a Django app called  rest
- [x] Integration with Django rest framework app
- [x] Github style (https://developer.github.com/v3/#pagination) pagination ( http://www.django-rest-framework.org/api-guide/pagination/)
- [x] Authentication ( session based for now ?)

Optionally (looks like @noisecapella has started):
- [ ] vocabulary rest API

[2015-06-04 20:38] pdpinch opened #101 "As a user, I want a stable production app"
One of the takeaways from our demo today is that the physics team needs a production system by the time our next demo ~6/29.

Please add a checklist to this issue to identify any decisions that need to be made.

- [x] It needs to be fast (responsive to users)
- [ ] What's the name?
- [x] Where will it be deployed?
- [x] How will it be backed up?
- [x] How will we scale?
- [x] How much do we think

[2015-06-04 20:44] #89 closed

[2015-06-04 20:45] pdpinch commented on #89
I agree that the search engine should provide sorting and in the demo today, we decide to move search up the schedule (and move a few other things out).

I'll close this for now.

On Jun 4, 2015, at 3:46 PM, Shawn Milochik notifications@github.com wrote:

[2015-06-05 12:20] pwilkins commented on #65
closed by #86

[2015-06-05 12:20] #65 closed

[2015-06-05 13:56] noisecapella commented on #25
Closed by #63

[2015-06-05 13:56] #25 closed

[2015-06-05 14:51] noisecapella opened #103 "Run modernize or futurize when tests run to make sure code stays compatible with Python 2/3"

[2015-06-05 16:00] pwilkins opened #105 "Add wait indicator to Import course"
Since loading a course can take some time, perhaps a wait or progress indicator would help users know that the process is under way.

[2015-06-05 16:30] ShawnMilo opened #107 "move all forms to the UI app"
Requested by @Ferdi.

[2015-06-05 16:31] ShawnMilo opened #108 "move all views to the UI app"
Requested by @Ferdi.

[2015-06-05 18:07] pdpinch opened #109 "make asynchronous upload work in Heroku"

[2015-06-05 18:11] pdpinch opened #110 "refactor upload settings to always use celery"
We can use celery for synchronous and asynchronous uploads. If we use celery everywhere, we'll have less code to support.

For tests, we can set ``always_eager = True``

[2015-06-05 18:12] pdpinch opened #111 "As a curator, I'd like to know the state of my upload"
Large uploads can take a while. We need to track the state of an upload, and create a ui to update the user on status.

[2015-06-05 18:12] pdpinch opened #112 "as a curator, I'd like to be able to retry my uploads"

[2015-06-05 18:18] pdpinch opened #113 "Upload courses via javascript to s3"

[2015-06-05 18:27] pwilkins commented on #105
This is a duplicate of issue #111

[2015-06-05 19:03] ShawnMilo opened #114 "move tests to ui app"
After #107 and #108, it doesn't make sense to leave the tests for views and forms in the other apps.

Leave the tests that only test the functions and models that remain in the app, such as model and API tests.

[2015-06-05 19:07] noisecapella commented on #114
I agree except for tests on the API functions and the models

[2015-06-05 19:18] ShawnMilo commented on #114
Which API(s)? The REST API, the taxonomy API, learningresource API, or the importer API?

With everything else moving, I don't see any reason not to just collapse it down to one app.

[2015-06-05 19:21] noisecapella commented on #114
I mean the tests for taxonomy/api.py, etc since they just interact with the models. But I don't have a strong opinion, and it's probably cleaner to keep the tests together than split them up like this

[2015-06-05 19:27] ShawnMilo commented on #114
I agree tests should stay with what they're testing. If a test file is clearly testing only models or the API functions, then it makes sense to leave them alone.

[2015-06-05 22:37] #72 closed

[2015-06-06 12:46] pdpinch commented on #113
Courses can be quite large and during import the browser can time out. Uploading to S3 allows us to do an asynchronous file upload.

[2015-06-08 00:47] Ferdi opened #118 "Document REST api"
- Documentation using  https://github.com/apiaryio/api-blueprint
- Integrate with https://apiary.io/ ( we don't have to)

http://docs.lore.apiary.io/

[2015-06-08 01:39] Ferdi opened #120 "[Epic] Search"
This is a meta issue (epic) to document LORE search requirements and progress.  Please create sub-issues and submit PRs against them.

- [x] ~~#139~~ Set-up the search infrastructure. E.g. integration with django-haystack, installing the search engine (elasticsearch / solr)
- [x] ~~#142~~ Set up indexing to occur during import
- [x] ~~#144~~ Make the repository listing page powered by search
- [x]

[2015-06-08 13:56] pdpinch opened #121 "style error page"

[2015-06-08 14:01] pdpinch commented on #52
closed via #64

[2015-06-08 14:01] #52 closed

[2015-06-08 15:18] pdpinch commented on #35
Blocked by #113

[2015-06-08 15:20] pdpinch commented on #108
Blocked by #107 and PR #115

[2015-06-08 15:34] pdpinch opened #122 "Add manage taxonomies slide drawer to repository page"
See http://pureui.com/c/mit/lore/build001/

The Taxonomies tab should use a REST call to get a list of vocabularies and their possible values (when available) (this probably needs it's own story with more detail)

The add vocabulary tab should display the form currently at https://lore-ci.herokuapp.com/repositories/another-repo/vocabularies/vocab1/ (this probably needs another story)

[2015-06-08 15:44] pdpinch opened #123 "As a curator, I need to associate static assets with learning resources"
When a course is imported, we can make some assumptions about the relationship between learning resources and static assets based on links, but it would be very hard (if not impossible) for us to determine static dependencies with the static assets. I.e. the course author could have linked a javascript file that calls other javascript files.

To deal with this, we need to provide the curator with

[2015-06-08 15:50] #107 closed

[2015-06-08 15:56] pdpinch opened #124 "Set-up django haystack to see if it meets our needs"
Once django-haystack and elastic search are set-up, make a determination of whether they can meet our needs:

- [ ] Can build an index based on import
- [ ] full-text search (including stemming)
- [ ] some mechanism to limit text search to text (not XML tags)
- [ ] faceting based on fixed facets
- [ ] can update the index when user adds metadata (terms)
- [ ] faceting based on user-defined facets

[2015-06-08 18:08] noisecapella commented on #108
Didn't notice this before I merged the PR but the tests for the forms are still in their respective apps.

[2015-06-08 18:24] ShawnMilo commented on #108
Yep, that's why I made #114 (which you and I have already commented on). It makes sense to move tests when we're done moving everything else, so we only have to do it once.

[2015-06-08 18:28] noisecapella commented on #108
Yes, forgot about that issue

[2015-06-08 18:46] noisecapella commented on #100
Are we using HATEOAS @Ferdi?

[2015-06-08 18:51] Ferdi commented on #100
I would keep it very simple for now. E.g. Just enough for us to implement the admin forms.

[2015-06-08 19:19] #109 closed

[2015-06-08 21:54] #110 closed

[2015-06-09 03:00] pdpinch opened #128 "return 404 on unauthorized requests instead of 403"
See https://github.com/mitodl/lore/pull/117/files#r31979721

[2015-06-09 03:19] ShawnMilo commented on #128
One possibility: Create [middleware](https://docs.djangoproject.com/en/1.8/topics/http/middleware/) that uses [process_response](https://docs.djangoproject.com/en/1.8/topics/http/middleware/#process-response) to check the status code, and if it's 4xx, return 404.

Since 4xx errors are "user did something wrong" errors, and the goal is to prevent information leakage, then this seems viable, especia

[2015-06-09 03:19] pdpinch opened #129 "Members REST API for managing users in repositories [#96516348]"
See also https://github.com/mitodl/lore/pull/119/files#diff-2625016b50d68d922257f74801cac29cR294

Add/List/remove repository members via REST API.

- [x] ~~Members can be added by e-mail address (typically kerberos id + mit.edu).~~ (this will be handled in the ui)
- [x] If the user doesn't exist, an error is returned
- [x] Should be limited to users with admin privileges on the repository (could b

[2015-06-09 03:21] pdpinch opened #130 "REST APIs should use the same authentication and authorization as forms"
Hopefully we can use the same decorators on the serializers that we are using on the views.

[2015-06-09 03:25] pdpinch opened #131 "Add authorizations to the import form"
Repository admins and curators can import courses.

Authors cannot

[2015-06-09 03:28] pdpinch opened #132 "Add authorizations to the taxonomy APIs"
Admins and curators can create, edit and delete taxonomies. Authors cannot.

Admins, curators and authors can add/edit item metadata (i.e. add/edit terms).

From #26 :
![screenshot 2015-05-18 11 00 25](https://cloud.githubusercontent.com/assets/125561/7683443/37b33d60-fd4d-11e4-9e76-f6edf4a7b652.png)

[2015-06-09 03:28] pdpinch commented on #132
FYI @noisecapella

[2015-06-09 11:16] pdpinch opened #133 "automating screenshots for static preview"
LORE users would like to be able to visually preview problems. We need a way to automate capture of screenshots.

- [ ] find a library for taking screenshots that can be automated from javascript or python
- [ ] simple function that, given a URL, creates a screenshot
- [ ] first should work with an edX dev stack
- [ ] later will need to work with lms.mitx.mit.edu (requires certs)
- [ ] later will

[2015-06-09 11:22] ShawnMilo commented on #133
The [Selenium](https://pypi.python.org/pypi/selenium/2.46.0) package for Python is easy to script and has the ability to take screenshots and save them as `.png` files, or base64 strings, which could be stored in a database.

Since it controls a browser, it should be able to handle certificates and can definitely work with pages which require JavaScript to work properly.

[2015-06-09 13:08] pdpinch commented on #103
Is this the same as #41 ?

[2015-06-09 13:13] amir-qayyum-khan commented on #133
Thanks @ShawnMilo I was looking into different approaches

Found a example http://stackoverflow.com/questions/1197172/how-can-i-take-a-screenshot-image-of-a-website-using-python

Currently I am looking into how to import certificate into Selenium Driver .

[2015-06-09 13:34] amir-qayyum-khan commented on #133
@pdpinch
I have few questions
- At what point screenshot will be trigger i.e
  -- User will click a button to get screenshot
  -- Lore will get screenshots from background without users trigger
- Need to create a program in Lore django app, that will take url as input and give screenshot
- What is the output format,
  -- Do i need to save screenshot some where and add entry in db or in logs?
  --

[2015-06-09 13:58] noisecapella commented on #103
Yes, didn't see that when I made this issue

[2015-06-09 13:58] #103 closed

[2015-06-09 14:26] ShawnMilo opened #134 "Add audit fields to all tables."
As a developer who develops and supports LORE, I'd like automatic timestamps added to each record when it is created and when it is modified. This is simple with Django models by creating a subclass of `models.Model` which has [datetime](https://docs.djangoproject.com/en/1.8/ref/models/fields/#datetimefield) fields using the `auto_now` and `auto_now_add` options, then making all of our models a su

[2015-06-09 14:35] carsongee commented on #128
I'm a little concerned that that would restrict us, maybe there will times that we actually want to raise a 403 instead of a 404.  I think we should submit a patch to django-guardian to allow you to pass in the status code you want to return.  Shouldn't be too difficult to implement it there, but it would require a lot of code duplication to implement that feature in lore.

[2015-06-09 14:39] ShawnMilo commented on #128
I like @carsongee's solution. A PR to guardian is cleaner and more explicit.

[2015-06-09 15:08] noisecapella opened #136 "Cascade deletes on vocabularies and terms"
This should remove `on_delete=models.PROTECT` from the models so that deletes will cascade. I talked with @cg about delete functionality and this is what he prefers in order to maintain database integrity. I think the alternative is doing the deletes by hand which may be more error prone. Any opinions @ShawnMilo?

[2015-06-09 15:09] noisecapella opened #137 "Move /learningresources to /repositories/<repo_slug>/learningresources"
In the process we may want to move the /repositories/<slug> urls to its own file for cleanliness

[2015-06-09 15:10] #70 closed

[2015-06-09 15:15] ShawnMilo commented on #136
Well, preferably nothing ever gets deleted if it's still related to something else. Worst-case scenario, deleting a taxonomy item deletes a LearningResource, and that would be terrible.

If the LearningResources are left alone and deletions in the taxonomy app only cascade within the taxonomy app, then that _seems_ okay to me, although it would be best if it could be confirmed that they weren't cu

[2015-06-09 15:27] carsongee commented on #103
D'oh I had totally forgotten that when I talked about it with George

[2015-06-09 15:54] Ferdi opened #138 "[Epic] Rest APIs"
This is a meta issue (epic) to document LORE API requirements and progress. Please create sub-issues and submit PRs against them.

- [x]  #100 Integration with Django rest framework , settings, defaults, authentication and authorization, root api (http://goo.gl/gx58ll)
- [x]  #118 Basic documentation, overall structure, settings, defaults
- [x]  #132 Taxonomy REST API
- [x]  #129 Members REST API

[2015-06-09 15:55] Ferdi commented on #100
@noisecapella Can you split this into 2 PRs as described at #138  ?

[2015-06-09 16:05] #108 closed

[2015-06-09 16:07] ShawnMilo opened #139 "Search: Install search engine and integration with django-haystack"
See #120.

[2015-06-09 17:41] noisecapella commented on #100
@ferdi Can you be more specific? What needs to be moved out of the PR linked above?

[2015-06-09 17:46] ShawnMilo commented on #120
What is meant by `Make the repository listing page powered by search`? It seems like this is the free-text search below it. Is this just having the "filter buttons" back on the left side for things like Item Type?

[2015-06-09 17:55] ShawnMilo commented on #134
A quick search brought up the [AuthStampedModel](http://django-audit-log.readthedocs.org/en/latest/change_tracking.html) and the [TimeStampedModel](https://github.com/django-extensions/django-extensions/blob/master/django_extensions/db/models.py).

The `AuthStampedModel` doesn't have timestamps and stores the session key unnecessarily. The `TimeStampedModel` is part of [django-extensions](https://

[2015-06-09 17:57] ShawnMilo commented on #80
Closing in favor of #134.

[2015-06-09 17:57] #80 closed

[2015-06-09 18:00] ShawnMilo commented on #124
It looks like Haystack is good, and based on yesterday's conversation, @Ferdi is supporting Haystack + Elasticsearch. Should we close this ticket in favor of #120?

[2015-06-09 18:05] ShawnMilo commented on #39
Is this issue ready to be closed?

[2015-06-09 18:25] pdpinch commented on #120
Removed assignment since this is an epic and individual issues may be assigned to different folks.

[2015-06-09 18:32] ShawnMilo opened #142 "Search: Set up indexing to occur during import."
From #120.

Set up indexing to occur during import.

[2015-06-09 18:49] carsongee opened #143 "As a developer I would like to test my branches easily on heroku without bothering other developers"
Look at messing around with the Heroku beta feature, Review Apps, https://devcenter.heroku.com/articles/github-integration-review-apps

[2015-06-09 18:57] pdpinch commented on #39
@ShawnMilo there's still an open issue in xbundle, https://github.com/mitodl/xbundle/issues/34 -- but on a 2nd look I realize it's in the xml -> course conversion, which isn't a blocker (as yet) for LORE.

We'll take another look at this later when we're working on export.

[2015-06-09 18:57] #39 closed

[2015-06-09 18:59] noisecapella commented on #134
Should slugs be added to every model by default? It's looking like anything we interact with in the API will require a slug

[2015-06-09 19:36] carsongee commented on #134
This is the one I had looked at, and has those features: https://pypi.python.org/pypi/django-auditable-models/1.0

if we wanted to add extra fields, we could extend it, but considering the simplistic nature of the code in that project, I'd have no problem doing it ourselves

[2015-06-09 19:48] ShawnMilo commented on #134
The model looks very close to what we want. However, the only thing really in there is the model with extra fields, pretty much as we'd create it. Everything else in the file is `pass`.

It also relies on [django-cached-user](https://github.com/bitzeppelin/django-cached-user/blob/master/cached_user/middleware.py) by the same author, which uses middleware which uses threadlocals. My knowledge may b

[2015-06-09 20:03] noisecapella commented on #136
I don't think anything else has references to the taxonomy models so I believe deletes on vocabularies or terms should not cascade to other models. We should definitely add some tests for these scenarios no matter what we do though.

[2015-06-09 20:14] pwilkins commented on #136
Where are permissions on taxonomies/vocabularies described?

[2015-06-09 20:23] pdpinch commented on #136
Permissions on taxonomies are described on page 7 of the [design document](https://docs.google.com/document/d/13gzDte36eRErjW7zQj8VRX2S218FgPZLxjEQLTSS1aA/) and in #26

I'm not sure why that's relevant to the issue here though?

[2015-06-09 21:06] carsongee commented on #134
cool :+1:

[2015-06-09 21:55] Ferdi commented on #142
@ShawnMilo do you have anything in mind how to do that ?  E.g.  https://github.com/django-haystack/celery-haystack ?

[2015-06-09 21:59] ShawnMilo commented on #142
Haystack has a feature to do that. Since the import is happening asynchronously anyway, that should be fine.

[2015-06-09 22:08] Ferdi opened #144 "Search: Make the repository listing page powered by search"
See #120

When you visit the home page of a repository  https://goo.gl/TKDuK2 , the results come from the database.
As soon as you click a facet or search for something  https://goo.gl/5ZVEp5, the datasource become the search index db.

This issue is about consolidating them so that the home page of the repository (the current "listing page") is powered by search index.

Technically, this is descr

[2015-06-09 22:38] carsongee commented on #142
Won't we also need this when resources get tagged?  Will we have to use signals or is there a more haystack way to do it?

[2015-06-09 22:52] Ferdi commented on #120
@ShawnMilo , does #144 answers your question ?

[2015-06-09 22:55] ShawnMilo commented on #120
Yes, thanks.

[2015-06-10 01:42] ShawnMilo commented on #142
@Ferdi, @carsongee, so far it looks like Haystack's [Signal Processors](http://django-haystack.readthedocs.org/en/latest/signal_processors.html) are the best way to do that. They update the indexes for each record on save.

[2015-06-10 17:16] Ferdi commented on #100
@noisecapella I missed your description of this issue. Looks like you have defined a clear scope.

[2015-06-11 01:29] Ferdi commented on #100
@noisecapella I have changed the description of this issue to add some more details about what to expect. @noisecapella  good ?

[2015-06-11 12:53] pdpinch commented on #133
@Ferdi here's my answers to these questions. Please correct me if I'm wrong.

_updated responses below, in a later comment_

[code]

[2015-06-11 14:21] noisecapella commented on #100
Yes these tasks all look good

[2015-06-11 17:03] #139 closed

[2015-06-11 17:41] ShawnMilo commented on #120
Question about "Free text search on the contentxml field and the UI":

I believe the first part is being able to search what we're already indexing. That makes sense. What does "and the UI" mean? Just the form on the listing page for the search box?

[2015-06-11 18:16] Ferdi commented on #120
Yes, by "UI" I meant simply the search box in the listing page

[2015-06-11 20:32] ShawnMilo commented on #120
Thanks.

[2015-06-12 00:25] pdpinch commented on #26
@Ferdi do we want to close this issue now that the initial feature is merged? Or do we want to turn this issue into an epic like the others?

[2015-06-12 00:30] Ferdi commented on #26
epic is good. I'm sure we'll have more issues related to roles and permission. It be great to have a place to summarize and track progress.

[2015-06-12 01:27] Ferdi commented on #131
@giocalitri @pdpinch can you add some details about what to expect here ?

[2015-06-12 01:27] pdpinch commented on #129
@giocalitri asked some questions:

Yes. There's not much point in protecting the user ids, as they're equivalent to kerberos ids and can be easily looked up.

For now, I think users just enter an id. If it doesn't exist in LORE, they get an error (similar to what edX does).

We might want to add an invitation feature later.

I think so.

Will do. This issue will be the API and I'll open a new one

[2015-06-12 01:39] giocalitri commented on #131
The "Import Course" button and the `/repositories/<repo_slug>/import` url (both in GET and POST request) will be available only to users that are administrator or curator of the requested `<repo_slug>` repository.

More in details:
- In case  the requested `<repo_slug>` repository does not exist , the response will be HTTP 404.
- In case the requested `<repo_slug>` repository exists but the user d

[2015-06-12 01:43] pwilkins opened #149 "Modify roles implementation to permit Admin role to create repos"
As currently implemented, the ``Admin`` role can't have the permission to create repositories, since the repository has to exist before the ``Admin`` role is created.  This issue identifies the need to change the implementation to allow the ``Admin`` role to create repositories.

[2015-06-12 01:44] pwilkins commented on #26
As currently implemented, the `Admin` role can't have the permissions to create repositories, since the repository has to exist before the `Admin` role is created.  I created issue #149 to track this problem.

[2015-06-12 01:48] pdpinch opened #150 "Web UI for Members API"
Simple form for listing members of a repository, adding new members and removing members.

Requires #129

[2015-06-12 01:51] Ferdi commented on #149
I didn't think "Admin" would have permission to create repositories.   "Admin", "Curator", and "Author" are roles created for each repository.
There should be (is?) a global role that will be able to create repositories.

@giocalitri is that correct ?

[2015-06-12 01:54] giocalitri commented on #149
@Ferdi, yes, that's correct. My idea is that there should be an extra group called "Lore_admin" or "Repo_creator" that has the permission `learningresources.add_repository`

[2015-06-12 01:56] pdpinch commented on #149
The chart in #26 shows admin having permission to create repositories. Should we update that?

[2015-06-12 13:41] pdpinch opened #151 "Add authorizations to the export view"
User must have permission on a repository in order to export a learningresource

This view is in the ui app

[2015-06-12 13:54] giocalitri commented on #151
@Ferdi: Does the user need to have only a view permission to export or does he need a specific "export" permission?

[2015-06-12 14:28] giocalitri commented on #137
this should be higher priority: #151 depends deeply on this

[2015-06-12 14:28] giocalitri commented on #137
@Ferdi: inputs?

[2015-06-12 14:30] Ferdi commented on #137
I agree

[2015-06-12 14:33] giocalitri commented on #137
ok, so I will work on this before #151

[2015-06-12 14:59] carsongee commented on #133
I still haven't heard back from Nimisha on using an actual API to pull the
real problem out. I'll ping her again.  That said, this still may make
sense to do as screenshots even if we use the API to construct them.  If
so, I'd really rather not have to have a full headed X11 Web browser be on
our server as it will kill memory, be hard to install, and create potential
security problems.  While impl

[2015-06-12 15:23] pdpinch commented on #101
@carsongee any follow up comments on this?

[2015-06-12 15:39] ShawnMilo commented on #133
Is xvfb an option for this? I'm sure you know about it already; just bringing it up because it wasn't mentioned previously in the thread.

Based on [this comment](http://stackoverflow.com/questions/13060157/what-is-the-difference-between-using-htmlunitdriver-and-writing-headless-tests-u/13197424#13197424), it is slower than something like phantomjs, with the trade-off of using a real browser, so i

[2015-06-12 15:44] giocalitri opened #152 "Better checks for the imported course files"
Currently we only check the file extension in `ui/forms.py`:
the list of extensions is in the `clean_course_file` function and should be moved out of there.

In addition we should add libmagic checks for the file type.

[2015-06-12 15:52] carsongee commented on #101
I just need the name I think.  I figured, Heroku, heroku, heroku where the answer to the other three and letting travis do the deploy to heroku on a release branch unless that makes us uncomfortable.

[2015-06-12 15:55] pdpinch commented on #101
It's Ok as long as it doesn't limit or scalability, or our options to do something else if we stop liking Heroku.

[2015-06-12 15:58] carsongee commented on #133
XVFB is just a way to run X11 on a headless server. We use chrome and firefox with xvfb for constant monitoring of our edx environment already.  I know the performance profile on that is big and super slow, and is why I suggested not using X11(xvfb) and a "real" browser if we can avoid it.  We aren't using anything but the rendering engine since we are taking screen shots without interaction, so a

[2015-06-12 16:00] carsongee commented on #101
We have docker too, and many things are compatible with heroku, so IBM BlueMix, dotCloud, elastic beanstalk, ec2 container service, etc, etc are all options as well.

[2015-06-12 16:25] #131 closed

[2015-06-12 18:38] #144 closed

[2015-06-12 18:50] ShawnMilo opened #155 "Update search index when taxonomy items are changed."
Changes made to taxonomy items for a LearningResource should take effect in the search immediately.

[2015-06-12 18:51] ShawnMilo commented on #142
This ticket is closed by the following line in `lore/settings.py`, as added in #147.

[code]

I've opened #155 to address updating the index on taxonomy changes.

[2015-06-12 18:51] #142 closed

[2015-06-12 18:52] ShawnMilo commented on #120
@Ferdi: Do you want to add #155 to your original post at the top, or should it be a separate issue?

[2015-06-12 19:16] carsongee commented on #133
Here is the API I mentioned:
https://github.com/edx/edx-platform/pull/8240
It is currently behind this feature flag: ENABLE_RENDER_XBLOCK_API
Here is the URL: https://github.com/edx/edx-platform/blob/master/lms/urls.py#L464

[2015-06-12 19:38] giocalitri opened #156 "Tests for views should be moved to UI app"
Move all the test_views.py to the UI app and create one test file per view.

The way the tests for the views are organized right now is confusing and difficult to maintain

[2015-06-12 20:01] carsongee opened #157 "Enable ElasticSearch in Heroku"
We need to have our settings file handle using an elastic search provider in Heroku.  Either https://elements.heroku.com/addons/searchbox, https://elements.heroku.com/addons/foundelasticsearch, https://devcenter.heroku.com/articles/bonsai, or we could run our own in AWS and point our instances at it if we don't like either of those.

[2015-06-14 17:49] Ferdi commented on #155
@ShawnMilo now sure what you have in mind here.  When you add/edit a term for a learningresource,  that would trigger a post_save (?) signal on the learningresrouce, so it will get reindexed -- based on what you did in #147.

[2015-06-14 18:18] Ferdi opened #158 "Search: Facets for dynamic metadata"
See also #120
Continue to built on #144 by adding facets for dynamic metadata ((course, run and learningresource type)

![loredynfacets](https://cloud.githubusercontent.com/assets/125561/8149814/cc1d4768-129f-11e5-9708-11cec9311d11.png)

[2015-06-14 18:20] Ferdi opened #159 "Search: Facets for user-defined metadata (vocabulary based)"
See also #120
Add support for vocabulary facets

![loreduserfacets](https://cloud.githubusercontent.com/assets/125561/8149833/86d125c0-12a0-11e5-8be9-964dd6b09a4e.png)

[2015-06-14 19:16] ShawnMilo commented on #155
If a `LearningResource` object has terms added or removed, we will need to add an
[m2m-changed](https://docs.djangoproject.com/en/1.8/ref/signals/#m2m-changed)
signal, because the actual `LearningResource` doesn't get re-saved -- the save
happens in the hidden intermediate table automatically created by the use
of the [ManyToManyField](https://docs.djangoproject.com/en/1.8/ref/models/fields/#djang

[2015-06-14 19:18] Ferdi commented on #155
Got it, thanks!
- Sent from my phone

[2015-06-15 00:36] Ferdi opened #160 "Roles and permissions: Create a lore_admin role"
Users in that group/role will have permission to create repositories.  (see #149 and #26  )

- [ ] add a fixture that creates the group
- [ ] documentation

[2015-06-15 00:41] Ferdi opened #161 "UI"
- [x] #150 Web UI for Members API
- [x] #158
- [x] #159
- [x] #163 Edit LearningResource item

[2015-06-15 00:44] Ferdi opened #162 "REST APIs: LearningResource"
(see #138 )
- LearningResource REST API
- Documentation

[2015-06-15 01:26] Ferdi opened #163 "UI: Edit LearningResource item"
UI for editing a learning resource

Depends on #162 . See also #161

- [X] Slide out panel
- [X] XML tab
- [x] add terms #298
- [x] edit description #299
- [x] Preview Tab
- [x] display analytics

![editlearningresource](https://cloud.githubusercontent.com/assets/125561/8151465/ec967c08-12db-11e5-81bc-de2481f6da7c.png)

[2015-06-15 01:45] Ferdi opened #164 "Import"
- [x] ~~#21~~ / ~~#4~~ Basic Import   / Importer app
- [x] ~~#28~~ Asynchronous Course Import

[2015-06-15 01:53] Ferdi opened #165 "Export learning resources"
- [x] #357 per-user shopping cart allows user to build sequence of learning resources
- [x] #358 user can "preview" list of learning resources before export
- [x] #387 Export builds gzip'ed file containing XML and static assets
- [x] user can empty shopping cart

For Future:

- [ ] make shopping cart persistent

![export](https://cloud.githubusercontent.com/assets/125561/8151669/d1b5e622-12df-11e5

[2015-06-15 02:49] Ferdi opened #166 "XAnalytics"
Xanalytics app will be a layer between the LORE system and MITx analytics system (xanalytics). It will connect with the xanalytics web service and get and update the relevant metatada in LORE database.

- [x] Define the protocol of communication between LORE and Xanalytics. Xanalytics team will provide the apis for us to integrate
- [x] Until the API is ready, we will apply some fake data at the t

[2015-06-15 14:08] Ferdi commented on #124
Closing

[2015-06-15 14:08] #124 closed

[2015-06-15 14:14] Ferdi commented on #77
Closing

[2015-06-15 14:14] #77 closed

[2015-06-15 14:40] pdpinch opened #168 "As a user, I (may) want to be search partial words"
This needs some investigation

[2015-06-15 14:56] pdpinch opened #169 "Add a link to request permission to create repositories"
When a user doesn't have permission to create repositories, replace the button with a link to request it by e-mail (using the django-support-email in settings)

[2015-06-15 14:56] pdpinch opened #170 "When installing LORE, create the lore-admin group"

[2015-06-15 14:58] pdpinch commented on #169
The setting e-mail should be mitx-support@mit.edu

[2015-06-15 15:11] ShawnMilo commented on #168
Appending an asterisk to a search does not produce "wildcard" results with our current configuration. Full words are still required.

[2015-06-15 15:14] pdpinch commented on #150
No pagination in this version.

[2015-06-15 15:16] carsongee commented on #168
So does haystack not support lucene at all? https://lucene.apache.org/core/2_9_4/queryparsersyntax.html.  That would be unfortunate

[2015-06-15 15:34] pdpinch commented on #118
- [X] Merge this draft to master
- [x] Change the branch that's tied to apiary

[2015-06-15 15:44] pdpinch commented on #111
Add a model to the database to track status. Celery's built-in status is limited to pending/accepted/error

[2015-06-15 15:57] pdpinch commented on #35
This story needs more definition. In particular, how can we find internal dependencies of the included files.

Are video transcripts going to be a special case?

[2015-06-15 16:06] pwilkins commented on #168
ES is built on top of Lucene.  ref: https://www.elastic.co/guide/en/elasticsearch/guide/current/intro.html
Hopefully, that fact is relevant.

[2015-06-15 16:23] carsongee opened #172 "Export failing"
@ShawnMilo or @giocalitri ?
[code]

[2015-06-15 16:39] ShawnMilo commented on #172
This is because `get_resource` in `learningresources/api` returns a `LearningResource`
if it can, or `HttpResponseForbidden` if the user has no access. It could also
raise a 404 directly.

This should be fixed; an API function shouldn't return HTTP response objects. I'm going
to change it to return a `LearningResource` or `None`, and let the view return a
404 if it's not found. This is inline with

[2015-06-15 16:45] ShawnMilo commented on #168
Search results such as [this](http://www.codedisqus.com/0yHqUqXUPV/django-haystack-similarity-search.html) seem to indicate that django-haystack is doing a `contains` search by default, but that we have to change the index configuration like [so](https://django-haystack.readthedocs.org/en/latest/autocomplete.html), which is what @giocalitri also suggested.

[2015-06-15 21:19] giocalitri commented on #129
this is blocked by PR #106

[2015-06-15 21:34] #172 closed

[2015-06-15 21:51] pdpinch commented on #133
@amir-qayyum-khan some updates on this:

Priority will be to handle a batch process. In the LORE scenario, we will want to create screenshots right after a course is imported.

PNGs saved to S3, I think.

This shouldn't have any dependency on LORE.

The use case is that we have a collection of learning object XML in our database. Users want to be able to preview the rendered XML on edx, because it

[2015-06-15 22:00] #137 closed

[2015-06-16 02:34] giocalitri commented on #129
Do we need a new permission for this? Something like "manage_repo_users" to add only to the administrator group repo?
Otherwise what should I check to see who has permission to mange users: only the fact that the user belong to the repo admin group?
cc @Ferdi @pdpinch

[2015-06-16 02:39] Ferdi commented on #129
It sound like an implementation detail, no ?
Yes,  repo admins will have the right to manage users but not sure what's the best way to implement a) adding a "manage users" permission and assigning to "admin" role or b) simply checking if user belong to 'admin' role

[2015-06-16 14:50] pwilkins opened #178 "Add roles to LORE docs"
The Roles package has an API and should be included in the LORE API docs.

[2015-06-16 14:54] #151 closed

[2015-06-16 15:17] giocalitri opened #180 "All learningresources.api need to be protected with permissions"
currently only a subset of them is actually protected. All of them need to be updated.

[2015-06-16 18:26] giocalitri commented on #180
I did a brief pass and I am not sure if this is a good idea: some APIs are pretty low level and permissions should be checked at higher level.
My approach would be to move the APIs in a class with the `__init__` that calls a function that initializes some properties like:

[code]

and so on.

This is probably a major refactoring, so I will postpone this.

[2015-06-16 18:50] ShawnMilo commented on #158
Branch: [feature/skm/158_faceted_search](https://github.com/mitodl/lore/tree/feature/skm/158_faceted_search). I'm working off of [this documentation](http://django-haystack.readthedocs.org/en/latest/faceting.html), but it's not returning facets to the template.

I've worked around that for the display. However, without having `facets` available in the template, there doesn't seem to be a way to fi

[2015-06-16 19:08] pdpinch commented on #158
Can you throw your branch up on Heroku?

---

I am mobile.

[2015-06-16 19:56] carsongee commented on #101
My intention here is to just add a couple lines to the travis config to deploy to lore-release on Heroku when the release branch passes tests (similar to what is there for lore-ci).  That application on Heroku will be configured with a connection string to an RDS PostgreSQL DB with hot standby failover and connection via SSL with daily backups (30 day retention), medium size instances, and 100GiB

[2015-06-16 20:13] Ferdi commented on #180
@giocalitri can you elaborate a bit about this issue. What is not protected and what needs to be done ?

[2015-06-16 20:37] giocalitri commented on #180
in `learningresources.api` currently only the following functions check for permissions:

[code]

in theory it is pretty straight forward to check for permissions for all the others

the problem is that while for

[code]

these are called at high level in the code

other functions like

[code]

are called recursively during the import of a course and checking for permissions each time the function

[2015-06-16 21:07] carsongee commented on #111
Did we want to keep this information forever, or would tracking tasks in the session be ok/preferred?

[2015-06-16 21:26] carsongee commented on #111
Also, what do we want to use for the javascript? backbone, jquery, react, ember? Also, where should a view that returns json about the current import task be? If `ui`, no problem, if it is `rest`, that may be a bit tricky, because that hasn't landed yet.  It seems to me it should be in the `rest` app, can we maybe just PR the piece of that that adds the folders and urls, since #106 is large, unles

[2015-06-17 00:44] pdpinch commented on #111
As an example, here's the UI from edX studio import:

![screen shot 2015-06-16 at 8 43 08 pm](https://cloud.githubusercontent.com/assets/430126/8197628/7c7fcab2-1468-11e5-8657-c5d7296d12ac.png)

[2015-06-17 01:27] Ferdi commented on #111
@carsongee

I don't see a reason to keep that info around.

It's not part of our public rest api so UI would be fine

If jquery works , that's fine. We are going to use react. Maybe you can start using it first here.

[2015-06-17 02:09] pdpinch commented on #158
@ShawnMilo sorry for sending you down the rabbit hole with heroku.

This is a really key feature and it's worth spending some time getting it right. If this really is a blocker, we may have to reconsider ElasticSearch and/or Haystack.

[2015-06-17 03:31] ShawnMilo commented on #158
@pdpinch I don't believe it's a blocker. I think @carsongee even resolved it already. I just put it aside because, as I understood it, you wanted it on Heroku so others could look at it and help me past the problem I was having, but @giocalitri figured it out so there was no need.

[2015-06-17 12:52] pdpinch commented on #101
Can we estimate the monthly bill on this? At this point, it's OK to omit the usage charges on S3 and RDS.

@Ferdi what's our name? lore.mitx.mit.edu ??

[2015-06-17 14:54] noisecapella opened #182 "Implement root for API"
This would ideally be part of #106 but I'd like that to get merged ASAP and the behavior of what happens when you go to `/api/v1/` is not critical to anything. In #106 the root just returns 404 but the docs say it should return a JSON list of endpoints

[2015-06-17 16:24] ShawnMilo commented on #159
@Ferdi @noisecapella

It appears that it's possible for a `LearningResource` to have multiple terms for the same vocabulary. Is this so?

I know that in practice some shouldn't, such as difficulty. Right now the taxonomy API doesn't prevent someone from adding, for example, both `easy` and `medium` as terms to the same `LearningResource` under the `difficulty` vocabulary.

Do we plan to support mu

[2015-06-17 16:56] pdpinch commented on #159
Excellent question. You're right that learning outcomes will need to support multiple values. I'm glad you caught this now.

Is it reasonable to treat all user-defined taxonomies as if they can support multiple values, and rely on the users to behave? Or do you think that will end up being a performance hit?

[2015-06-17 16:58] Ferdi commented on #159
@ShawnMilo thanks for looking into this.

Ideally, users (e.g. repo admins) would decide how their vocabularies should be used.  For example,  a vocabulary called "topic" would work like "free tagging" - curators can tag a learning resource with one ore more "topic" terms.  That woudn't be the case for "difficulty" vocabulary.

[2015-06-17 17:01] ShawnMilo commented on #159
@Ferdi @pdpinch

Based on your comments, we need to support multiple. I'll do that for the faceted search. This leaves the temporary possibility that someone tags the "difficulty" of a `LearningResource` as easy and hard at the same time, but that's an orthogonal issue so it won't block me. I'll open an issue for that.

[2015-06-17 17:04] ShawnMilo opened #186 "Capability to have "unique" versus "free" tagging of taxonomies."
As referred to [here](https://github.com/mitodl/lore/issues/159#issuecomment-112868137)

As a curator, I want the ability to dictate whether a `Vocabulary` I create allows multiple terms for the same `LearningResource`. For example, if I create the vocabulary `Learning Objective`, I would like a `LearningResource` to be tagged with two or more objectives. However, if I create a "Difficultly" vocab

[2015-06-17 18:49] pdpinch commented on #101
@carsongee did you confirm the meaning of "shared memory" in the bonsai configuration (see below)?

![screen shot 2015-06-17 at 2 48 37 pm](https://cloud.githubusercontent.com/assets/430126/8215725/08a4822a-1500-11e5-8408-39a6bb219e77.png)

[2015-06-17 19:10] carsongee commented on #101
I did not, but reading between the lines on their FAQ.  I'm sure it is on shared VMs with multiple customers sharing disk/CPU/memory, but not data or elasticsearch processes.  If we just assume that, which is the worst case for data security, is that bad enough we need to confirm/look elsewhere?  I'll go ahead and work up the cost estimate.  That should be pretty quick

[2015-06-17 19:16] carsongee commented on #101
## Per Month cost (to start)

Heroku: $75
Bonsai: $50
Redis: $10
RDS: $133.92 for a 31 day month
S3 (worst case): $0.32
Total: $269.24

[2015-06-18 01:36] Ferdi commented on #158
Just tested the PR a bit and it looks like we are making good progress.

I have a question - It looks like currently you cant filter learning resources that are EITHER 'chapter' OR problem.  I'm not saying that we should or shouldn't be able to, but I wanted to understand what the options are technically.

Sometime that behaviour is desirable. For example
- http://www.shoes.com/product-list2
  You

[2015-06-18 03:20] ShawnMilo commented on #158
It [may not be](https://groups.google.com/d/msg/django-haystack/xWhpYu1stjA/q_iBMQx78dIJ) achievable using Haystack alone, but it's definitely possible [with Elasticsearch](https://gist.github.com/mattweber/1947215). I even found [an example](http://distinctplace.com/2014/07/29/build-zappos-like-products-facets-with-elasticsearch/) that compared the functionality to Zappos.

According to [this](ht

[2015-06-18 12:30] pdpinch commented on #118
@Ferdi how do we change the branch on the apiary docs?

We could set it to master or, in a few days we should have a release branch.

[2015-06-18 12:47] pdpinch commented on #157
@carsongee was this closed by #171 ?

[2015-06-18 14:27] pdpinch commented on #133
- [ ] find out how the RENDER XBLOCK API is protected & deal with authentication (probably OAuth)
- [ ] Add a field to the learningresource model called screenshot; it should be a django file, which will handle the storage location. Should be a separate PR.
- [ ] Need to determine what types of learningresources get screenshots: problem, video. Maybe that's it. Or a negative set, i.e. we don't wan

[2015-06-18 15:11] pdpinch commented on #101
@Ferdi is it OK for Carson to proceed with this? If Bonsai ends up being a weak link, we can move elasticsearch to Amazon EC2

[2015-06-18 15:24] carsongee commented on #157
It was closed outside a PR since it was just a configuration task (as it turns out)

[2015-06-18 15:24] #157 closed

[2015-06-18 15:55] noisecapella opened #190 "POST to vocabulary using Django REST framework form causes a 500 if `required` checkbox is not checked"
Seems to be a problem in Django REST framework's form implementation, the JSON API itself doesn't have this problem. In any case it needs investigation to be sure

[2015-06-18 15:56] noisecapella opened #191 "Need permission to delete and edit a repository"
Currently deleting or editing a repository via the API is disallowed because no appropriate permission exists. We should add a permission which fits this need.

[2015-06-18 16:44] pdpinch commented on #156
closed by #188

[2015-06-18 16:44] #156 closed

[2015-06-18 16:45] pdpinch commented on #114
closed by #188

[2015-06-18 16:45] #114 closed

[2015-06-18 18:51] ShawnMilo opened #192 "Create and use a `ValidationError` in learningobjects.api"
As a developer, I would like to raise a custom error when invalid input causes an integrity error at the database level, instead of bubbling up an `IntegrityError` to the API caller.

As discussed [here](https://github.com/mitodl/lore/pull/106/files#r32761222).

[2015-06-18 19:01] noisecapella commented on #192
Would this just be catching `IntegrityError` and raising a `ValidationError`? Would the message be inspected at all like we do in certain tests?

[2015-06-18 19:07] ShawnMilo commented on #192
It could be. It would be better if it returned more information on what went wrong, but not if it takes too much work.

One option would to have the API use Django ModelForms internally, and return their `.errors.as_text()`. There are great benefits to that. One downside is that, depending on the field types, it might require converting Python objects (such as integers and booleans) into the text

[2015-06-18 22:33] #158 closed

[2015-06-18 22:47] carsongee opened #196 "As an ops person I would like a health check URL"
In order to do easy status and health checking for out instance, it would be convenient to have a url that returns some json and a relevant HTTP status code after checking that everything is working as expected (DB, Redis, ES, etc all available to the app).

[2015-06-18 23:50] Ferdi commented on #196
:+1:

[2015-06-19 13:55] pdpinch commented on #118
Ok. Apiary is working off master now. It should update whenever there is a commit.

[2015-06-19 13:55] #118 closed

[2015-06-19 14:06] amir-qayyum-khan commented on #133
I made a small application using flask that takes url to courseware and user credentials and take screenshot of it.
Here is link of that https://github.com/amir-qayyum-khan/screenshot_xblock/tree/master

Working on taking screenshot of xblock only.

@pdpinch @carsongee

[2015-06-19 14:20] ShawnMilo opened #197 "search not returning results from `content_xml` field"
When searching on content from the `content_xml` field, results only appear if the same content appears in the content's title. Search should return matches from within the `content_xml` field.

[2015-06-19 16:43] ShawnMilo commented on #159
@Ferdi @pdpinch:

I'd like to handle #155 as part of this branch. Deploying the taxonomy search without this index trigger doesn't make sense. It should just requiring hooking up an [m2m-changed](https://docs.djangoproject.com/en/1.8/ref/signals/#m2m-changed) signal.

Any objections?

[2015-06-19 16:47] Ferdi commented on #159
Go for it
- Sent from my phone

[2015-06-19 16:50] ShawnMilo commented on #155
Closing; will be handled as a detail in #159.

[2015-06-19 16:50] ShawnMilo commented on #159
Thanks. #155 has been closed, with a note about this issue.

[2015-06-20 15:04] giocalitri opened #200 "SSL issue with celery during course import"
On master I am unable to import a course because every time I try I get this stack trace from celery.
My docker is freshly created (I removed the VM and recreated from scratch)

[code]

[2015-06-21 02:48] #200 closed

[2015-06-21 16:26] Ferdi opened #202 "Are we stripping xml markup when indexing content_xml field ?"
cc @ShawnMilo

[2015-06-21 16:31] ShawnMilo commented on #202
Not presently. Do we want to? it wouldn't be difficult. I know it came up in discussion as a question before.

[2015-06-22 13:14] pdpinch commented on #197
I haven't been able to confirm this on http://lore-branch-test.herokuapp.com/

Do I need to do something to kick off a rebuild of the index?

[2015-06-22 13:16] giocalitri commented on #197
I think the problem in on Travis: if I understood well the message, the build has not been pushed to Heroku even if it was on master:
https://travis-ci.org/mitodl/lore/builds/67654660

[2015-06-22 13:17] giocalitri commented on #197
And yes, you have to reindex
`./manage.py rebuild_index`

[2015-06-22 13:24] amir-qayyum-khan commented on #133
Mvp is ready https://github.com/amir-qayyum-khan/screenshot_xblock/tree/master. It use api you mentioned @carsongee https://github.com/mitodl/lore/issues/133#issuecomment-111592917

cc @pdpinch

[2015-06-22 13:27] pdpinch commented on #197
Thanks! The rebuild took care of it on http://lore-branch-test.herokuapp.com/

I'm not sure what's up with the CI server.

[2015-06-22 13:27] #197 closed

[2015-06-22 14:21] pwilkins commented on #202
If we strip the XML, how much lose semantic meaning is lost?

[2015-06-22 14:49] ShawnMilo commented on #202
You'd lose nothing when you clicked "export" or did the preview (once that's working).

If you wanted to actually search by XML tag, like `<section>foo` instead of just `foo`, then you'd lose that. I'd be surprised to learn someone actually wanted to do that, but I can imagine someone copy/pasting a chunk of XML from somewhere and pasting it into the text box. But they'd have an easier time of acc

[2015-06-22 14:59] noisecapella opened #204 "Add field learning_resource_types to vocabulary REST API"
Currently this field is ignored on GET or POST since it's a many-to-many field and it was overlooked.

[2015-06-22 16:28] ShawnMilo opened #207 "Repository listing page shows results for all repositories."
When viewing the listing page on [Heroku](http://lore-ci.herokuapp.com/repositories/animating-stuffed-animals/?q=), I see the courses uploaded to the "Animating Stuffed Animals" repository.

When I view the [milo test](http://lore-ci.herokuapp.com/repositories/milo-repo/) repo, I see the same courses.

The `no_query_found` method of `search.forms.SearchForm` needs to be updated to filter by the re

[2015-06-22 16:32] ShawnMilo commented on #111
I just tried to import a course on the Heroku site. It failed (invisibly, of course), because of my permissions to the repository. I was able to import a course to a repository I had created.

Should this be considered part of this issue, or should I create a new issue?

[2015-06-22 17:12] pdpinch commented on #111
Can you open a new issue please?

Definitely the user needs to know that the import errored, but I think there's something else that's not quite right in what you describe -- like how did you get to be in the position of importing a course into a repository you don't have permissions on?

[2015-06-22 17:50] giocalitri commented on #129
any preference on the URL for the API?

[2015-06-22 17:51] pwilkins commented on #202
@ShawnMilo Thank you for the explanation.  I agree that for purposes of searching, the xml tags don't add value.

[2015-06-22 18:11] carsongee commented on #207
This sounds like a hotfix level bug, what do you think @pdpinch ?

[2015-06-22 18:14] ShawnMilo commented on #207
I agree, @cg. However, it's easier to add to #203, which is reviewed and currently is only waiting on increased test coverage. I'm sure I can get that out today.

[2015-06-22 18:16] carsongee opened #210 "As a user I'd like a favicon for nice bookmarks and tabs"

[2015-06-22 18:17] carsongee commented on #210
And to avoid many 404s

[2015-06-22 18:18] carsongee commented on #207
Well I'd rather not add new functionality on a hotfix, just the bug fix only.

[2015-06-22 18:32] amir-qayyum-khan commented on #133
@carsongee  deployed screenshot api https://secret-dawn-6402.herokuapp.com/
need a sandbox to test

cc @pdpinch

[2015-06-22 19:00] pdpinch opened #211 "Search: style full text search box"
See screenshot in #159

[2015-06-22 19:02] pdpinch opened #212 "Search: add ui for removing facet filters"
use checkboxes per the design

see screenshot in #159

[2015-06-22 19:12] pdpinch commented on #150
use React

[2015-06-22 19:24] noisecapella commented on #190
I managed to produce a similar problem, #209 appears to fix this too

[2015-06-22 20:10] carsongee commented on #111
We have not yet been able to reproduce this.  We thought we had with some unexpected permission denied messages, but those were due to #207

[2015-06-22 21:47] carsongee opened #213 "We should force https"
Since there may be sensitive data coming across the wire (problems and answers), we should redirect all plain text to https with a flag (so that development can still be plain text).

[2015-06-22 22:05] noisecapella opened #214 "Integrated React into application"
This covers the work setting up React, integrating Javascript testing into our build and implementing some trivial piece of the UI in React. This is required for #150

[2015-06-23 00:20] Ferdi commented on #129
@giocalitri https://goo.gl/qU2PIy ?

[2015-06-23 17:00] #207 closed

[2015-06-23 18:42] carsongee opened #218 "As a developer I would like the test course(s) to be easily diffable"
I plan on making them extract and have the methods to get them zip them on demand

[2015-06-23 18:53] giocalitri opened #219 "new repo can access all existing learningresources"
Steps to recreate:
1- create a repo "foo-repo"
2- import a course inside repo "foo-repo"
3- let's assume the learningresource "foo-learn" is inside "foo-repo"
4- create repo "bar-repo"
5- the learningresource "foo-learn" is inside "bar-repo" (even if it should not)

[2015-06-23 18:54] ShawnMilo commented on #219
On what commit?

[2015-06-23 18:58] giocalitri commented on #219
on lore-ci

[2015-06-23 22:27] carsongee opened #223 "As a user I would like to be redirected to the login page if I haven't logged in"
Currently when you go to a protected listing page without logging in, it raises an error but doesn't redirect you to the login page.

[2015-06-24 14:29] giocalitri opened #226 "Migrations does not seem to sync permissions"
on lore-ci after the migration the permissions were not synced: a `manage.py sync_permissions` solved the problem, but we need to investigate what's going on.

[2015-06-24 14:41] giocalitri opened #227 "Repository view should return 404 not found on non existing repos"
Right now it returns 403

[2015-06-24 14:50] pdpinch commented on #227
Similar to #128

[2015-06-24 14:56] giocalitri commented on #227
I guess it's the opposite, but definitively the same topic

[2015-06-24 15:32] #211 closed

[2015-06-24 15:50] carsongee opened #228 "Bug: Icons in listing page are directly using pureui.com instead of internal assets"

[2015-06-24 15:57] pdpinch commented on #100
closed via #106

[2015-06-24 15:57] #100 closed

[2015-06-24 16:51] pdpinch commented on #101
Closed via #205

[2015-06-24 16:51] #101 closed

[2015-06-24 21:45] #134 closed

[2015-06-25 13:44] #155 closed

[2015-06-25 13:51] pdpinch opened #230 "static assets: parse video blocks for links to transcript files"

[2015-06-25 13:54] pdpinch opened #231 "static assets: parse problem, html blocks for javascript, CSS, image links"
As a curator, when I import a course I want to have static asset files (in the /static folder) in my course associated with appropriate learning resources.

We need to parse problem, and html learning resources for links to javascript, CSS, image and iframe files. For example:

``
<script src="">
<link href="">
<img src="">
<iframe src="">
``

where the src/href attribute starts with `/static/`

[2015-06-25 16:46] #218 closed

[2015-06-25 19:09] pdpinch commented on #202
@shawnmilo I'm still seeing results for searching on tag-like terms, like `<html` e.g.

http://lore-ci.herokuapp.com/repositories/animating-stuffed-animals/?q=%3Chtml&selected_facets=resource_type_exact:html

[2015-06-25 19:11] ShawnMilo commented on #202
Yes. It doesn't strip out the HTML, which is itself the "text" content of the XML.

An argument can be made either way. Do you want to change it?

[2015-06-25 19:12] Ferdi commented on #202
I vote for stripping out all markup

[2015-06-25 19:13] ShawnMilo commented on #202
Okay. I'll make a new PR.

[2015-06-25 19:27] giocalitri opened #239 "ManageTaxonomyPermission in rest.permissions"
The check currently is:
[code]

instead it should be:
[code]

the reason is that in the first case it does not check permissions in the right way in case the permissions are applied to the group.

[2015-06-25 20:09] noisecapella commented on #239
We do a similar check for add_repo, should I make the change there too?

[2015-06-25 20:11] giocalitri commented on #239
add_repo is a different type of permission: it is not assigned to a group/user for a specific object, but is a general permission

[2015-06-25 20:21] giocalitri commented on #239
not a real bug, just a style enhancement

[2015-06-25 20:47] #239 closed

[2015-06-25 21:33] carsongee commented on #122
So, I totally did the other panel, and not the manage taxonomies panel...woops

[2015-06-25 22:28] ShawnMilo commented on #202
I don't know what the issue is yet, but the HTML is stripped. It's just behaving oddly when you use the `<` character.

For example, if you search for [monkey](http://lore-ci.herokuapp.com/repositories/milo-repo/?q=monkey) you get zero results, but if you search for [<monkey](http://lore-ci.herokuapp.com/repositories/milo-repo/?q=%3Cmonkey) you get a bunch of results.

[2015-06-26 13:22] pdpinch commented on #219
Was this fixed by #217 ?

@pwilkins can you confirm?

[2015-06-26 13:23] pdpinch commented on #219
Actually, #217 was @ShawnMilo 's PR.

[2015-06-26 13:25] giocalitri commented on #219
I guess this was not a real bug: we found it during the tests of my PRs before the deployment to production but the reason was that the latest code has not been delivered.

[2015-06-26 14:21] #228 closed

[2015-06-26 14:34] noisecapella opened #242 "Per icon glyphs look squashed"
Related to #235 - The film reels in the video icon are supposed to be round.

[2015-06-26 16:45] carsongee opened #243 "API Exceptions should be caught and re-raised as http responses"
"As an ops person, I would like to receive as few uncaught exception e-mails/alerts as possible" ;)

[code]

[2015-06-26 16:54] pdpinch commented on #35
Replaced by #123

[2015-06-26 16:54] #35 closed

[2015-06-26 19:07] pwilkins commented on #105
I had initially considered this a duplicate, but

[2015-06-26 19:07] #105 closed

[2015-06-26 20:41] noisecapella opened #247 "500 error when logging out of the API console"
I got a 500 error after logging out of the API console on Heroku. Link:

https://lore-ci.herokuapp.com/api/v1/api-auth/logout/?next=/api/v1/repositories/george-test/vocabularies/

[2015-06-26 20:56] noisecapella opened #249 "Apply manage_taxonomy permissions on taxonomy forms"
Currently the permission is only applied to the API

[2015-06-26 21:02] pdpinch opened #250 "Add link to apiary docs in readme"
http://docs.lore.apiary.io

[2015-06-26 22:11] carsongee commented on #247
[code]

[2015-06-29 15:10] #219 closed

[2015-06-29 16:32] pdpinch opened #254 "Static: add tab in detail view for viewing list of static assets (with links)"
As a user, I need to be able to see which static files are associated with a learning resource and view/download them.

Add an additional tab in the learning resource view, alongside of `XML` and `Preview` (Preview is not yet implemented). The tab will list the filenames of associated assets and link to them on S3. Links can (naively) open in a new browser window.

[2015-06-29 16:33] pdpinch commented on #162
Should include:
- terms
- related static asset set

[2015-06-29 16:49] pdpinch commented on #150
Button "Manage Membership" in top horizontal nav. Use http://fortawesome.github.io/Font-Awesome/icon/users/

Slide out panel, same as manage taxonomy.

Panel displays current users in repo, with role.
Users can be removed by clicking an x
User can remove himself, and will be dumped out of the repository
Current User can add new users, using kerberos or MIT.edu e-mail and can choose role

[2015-06-29 17:44] noisecapella opened #255 "Editing taxonomies while keeping the same name causes an IntegrityError"
In the form at `/repositories/repo_slug/vocabularies/vocab_slug/`, editing a vocabulary but not changing its name causes a unique constraint failure

[2015-06-30 03:10] pwilkins commented on #169
@pdpinch Once the link to request permission is clicked and the email is sent, what should happen next?  Flash a message that an email has been sent?  Redirect to another page?

[2015-06-30 03:20] pdpinch commented on #169
I thought we were just going to use a mailto: link to open in the user's mail client.

If it's automatically sending a message, I guess there should be some signal to the user that the message has been sent. Anything that's easy would be fine: could be http://getbootstrap.com/javascript/#alerts

[2015-06-30 10:40] pwilkins commented on #169
A mailto: link would be far simpler and provide us with more information.  I'll do that.

[2015-06-30 12:53] pdpinch commented on #113
@carsongee this was addressed by #145 wasn't it?

[2015-06-30 14:12] carsongee commented on #113
I don't think so.  I think this was intended for the client side upload since it mentions timeouts

[2015-06-30 14:16] carsongee commented on #169
:+1: to mailto, but you can just use django messages to do this type of thing.  That is what does the nice little green login confirmation text after login now.  The template just automatically picks those up and shows them

[2015-06-30 14:22] carsongee commented on #113
lol, was clearing out old e-mail and apparently that used to be the title: `Upload courses via javascript to s3`

[2015-06-30 14:58] pwilkins commented on #242
Closed by PR#258

[2015-06-30 14:58] #242 closed

[2015-06-30 15:52] amir-qayyum-khan commented on #223
@carsongee by protected listing page you mean open a repo? Because I found issue when I open a repo direct without login it throws exception instead of redirect

[2015-06-30 16:31] pdpinch commented on #223
That's exactly what we want to change.

---

I am mobile.

[2015-06-30 16:33] amir-qayyum-khan commented on #223
fix @pdpinch

Thanks

[2015-06-30 18:26] carsongee opened #269 "Need unit tests for managing taxonomy javascript"
Need to write unit tests for `ui/static/ui/js/manage_taxonomies.jsx`

[2015-07-01 13:26] pdpinch opened #272 "When adding terms to a taxonomy, enter key should have same action as plus button"
As a user, I would like to be able to use the keyboard to add and enter new terms, so I don't have to click the plus button every time.

[2015-07-01 14:01] noisecapella opened #273 "Implement code coverage for JSX files"
I think this is a trivial fix, changing the extension used or something to that effect

[2015-07-01 14:19] carsongee opened #274 "Allow enter key to add new taxonomy terms"

[2015-07-01 14:51] giocalitri opened #275 "Add JS tests for Members UI"
tests for #150

[2015-07-01 15:13] pdpinch commented on #274
duplicate of #272

[2015-07-01 15:13] #274 closed

[2015-07-01 16:42] carsongee commented on #122
This was half done by #248

[2015-07-01 16:51] #136 closed

[2015-07-01 19:20] noisecapella opened #279 "Install jsxhint"
This applies jshint rules on JSX files

[2015-07-01 20:12] #122 closed

[2015-07-01 20:14] pdpinch opened #281 "Cleanup white space in PR #271"
See for example https://github.com/mitodl/lore/pull/271#discussion_r33709450

[2015-07-01 20:16] pdpinch opened #282 "Fix alignment of minus button in membership form in Chrome"
See https://github.com/mitodl/lore/pull/271#issuecomment-117795981

[2015-07-01 21:10] giocalitri opened #283 "KeyError at /repositories/<repo_slug>/ when ES index is not available any more"
Edge case (I guess).

Steps to reproduce:
- have a running repository with learning resources inside
- run tox
- reload /repositories/<repo_slug>/

[2015-07-01 21:14] carsongee commented on #282
https://s3.amazonaws.com/uploads.hipchat.com/151776/1097195/L02B2dAHZu8RBwJ/upload.png

[2015-07-01 21:15] carsongee commented on #282
Doesn't appear to happen in firefox, but does in chrome at least

[2015-07-02 01:40] pdpinch opened #286 "Adding a vocabulary with the same name returns a generic error"
As a curator, when I create a vocabulary with a name conflict, I should get a specific error, perhaps

instead of the generic

[2015-07-02 01:43] pdpinch opened #287 "Allow curators to delete vocabularies"
As a curator (and as a QA tester) I need to be able to delete vocabularies. A convenient UI would be a button on the Taxonomies tab of the Manage Taxonomies drawer.

How long will it take to remove a vocabulary from the index? Does this need to be a celery task?

[2015-07-02 01:52] pdpinch opened #288 "left align text in item type facet"
![screen shot 2015-07-01 at 9 49 29 pm](https://cloud.githubusercontent.com/assets/430126/8468516/57c7e5a4-203b-11e5-9cb2-5228766cb253.png)

`Vertical` should be left-aligned with `Problem` and `Discussion` in the example above.

Probably the easiest thing to do is make the glyph for vertical the same number of pixels wide as the others.

[2015-07-02 12:53] giocalitri commented on #281
@pdpinch I think this is not an issue: I removed the tabs in cleanup of PR #271.

[2015-07-02 12:54] pdpinch commented on #281
great, thanks.

[2015-07-02 12:54] #281 closed

[2015-07-02 13:27] giocalitri opened #290 "Allow only usernames in the "add members" form"
Currently there is a weird user experience if the user types a full email: limit the field to usernames.

[2015-07-02 13:58] noisecapella opened #291 "Default value for Managed/Free Tagging radio button"
This is pretty minor but instead of filling in a value when we add the vocabulary if the user didn't select one, we should set a default value in the UI so the user knows which value is being sent to the server

[2015-07-02 14:00] noisecapella commented on #287
For the moment you can go to the REST console and there should be an option to delete the vocabulary there.

[2015-07-02 14:26] carsongee commented on #291
Good catch, I meant to add a default selected property to that tag and must have missed it.

[2015-07-02 15:16] #282 closed

[2015-07-02 17:55] noisecapella opened #294 "Add readonly terms field to vocabulary REST API"
This information is already available through repositories/repo/vocabularies/vocab/terms but adding terms as a field would let us get all terms for up to 20 vocabularies as a single AJAX call. This isn't very important right now but it might be necessary as traffic grows.

[2015-07-02 21:47] #279 closed

[2015-07-02 22:02] #273 closed

[2015-07-03 11:42] pdpinch commented on #129
Functionally, this is done. The API docs #295 still need to be merged.

[2015-07-03 11:42] #129 closed

[2015-07-03 11:51] pdpinch opened #298 "apply terms to learning resource"
As a user, I need to add and edit terms on a learning resources

Part of #163 and UI epic #161. Depends on #162

![editlearningresource](https://cloud.githubusercontent.com/assets/125561/8151465/ec967c08-12db-11e5-81bc-de2481f6da7c.png)

[2015-07-03 11:53] pdpinch opened #299 "edit learning resource description"
As a user, I need to write free text descriptions for learning resources. I will edit these in the learning resource drawer and view them in the listing page.

Part of #163

![editlearningresource](https://cloud.githubusercontent.com/assets/125561/8151465/ec967c08-12db-11e5-81bc-de2481f6da7c.png)

[2015-07-03 11:59] amir-qayyum-khan commented on #182
Done @pdpinch

[2015-07-03 12:10] pdpinch commented on #283
@ShawnMilo can you take a look at this next week?

[2015-07-03 12:16] pdpinch commented on #178
@pwilkins is this addressed by #295 ?

[2015-07-03 12:35] pdpinch commented on #132
@noisecapella is this done?

[2015-07-03 12:36] pdpinch commented on #160
@carsongee @giocalitri I think this is done, as described.

We don't have a UI for this role, but I think that's OK?

[2015-07-03 13:39] amir-qayyum-khan commented on #288
fixed

cc @pdpinch

[2015-07-06 15:58] #290 closed

[2015-07-06 16:06] noisecapella commented on #132
Yes, all done

[2015-07-06 17:33] #230 closed

[2015-07-07 12:32] amir-qayyum-khan commented on #152
@giocalitri can you please explain this,

What do you mean by
-  `and should be moved out of there.`
-  you want me to addd libmagic file checks in form?

[2015-07-07 12:55] giocalitri commented on #152
I opened the issue but I was just reporting a comment on a PR on a line I asked to change.

If I remember well, currently we check if a file can be imported only by the extension and the list of allowed extensions are in `lore.ui.forms.UploadForm.clean_course_file`.

What we should do is move the check out of that function and verify the file type not only by the extension, but also using `libmagi

[2015-07-07 14:00] #212 closed

[2015-07-07 14:34] pwilkins commented on #132
Closed by "Add REST app" #106

[2015-07-07 14:34] #132 closed

[2015-07-07 14:39] giocalitri opened #307 "Alignment problem in Manage Taxonomies panel"
The tab titles are not aligned.

Seen in Firefox (Mac) but not on Chrome (Mac).
The same problem is in the [UI design](http://pureui.com/c/mit/lore/build001/).

<img width="715" alt="alignment" src="https://cloud.githubusercontent.com/assets/1005204/8548672/2a0ffa4a-2494-11e5-8371-3e16f0972fc2.png">

[2015-07-07 14:45] noisecapella commented on #286
#302 fixes the case for a name conflict where the description exists, but if they leave out the description the generic message returns. This is because the validation sometimes stops at the first set of errors and it reports only the missing field.

We might want to build some parser for these validation error messages, maybe something that handles only what we know and uses a generic error messa

[2015-07-07 14:52] #307 closed

[2015-07-07 14:59] pwilkins commented on #307
Just a note: The alignment is also broken for Chrome in the designer's site.  http://pureui.com/c/mit/lore/build001/  That at least accounts for the source of the problem.

[2015-07-07 15:45] #182 closed

[2015-07-07 19:24] carsongee opened #312 "Static (django) assets aren't precompiled in production"
Whenever heroku changes our dynos out, we lose a very slow request to compiling assets (jsx/JavasSript/CSS).  We should precompile these with `collectstatic` and possibly even serve them from s3.

[2015-07-07 19:53] carsongee commented on #162
is this done @noisecapella or do we need docs still?

[2015-07-07 20:01] noisecapella commented on #162
Yes, all done. Docs should be included.

[2015-07-07 20:04] #162 closed

[2015-07-07 20:05] #291 closed

[2015-07-07 20:42] giocalitri commented on #288
Yes, this has been fixed by #301: closing the issue

[2015-07-07 20:42] #288 closed

[2015-07-08 14:01] giocalitri opened #313 "Quick double click on "Add Repo" button gives weird user experience"
This is clearly not a priority, but we should disable the "Add Repo" button after the first click.

![create repo double click](https://cloud.githubusercontent.com/assets/1005204/8572059/3ba31df4-2558-11e5-9533-fe56993e2be0.png)

[2015-07-08 15:41] giocalitri opened #315 "Static Asset FileField length is too short"
importing long files results in an error

[code]

[2015-07-08 15:48] pwilkins opened #317 "The LORE production site URL is wrong in Apiary API docs"
The LORE production site URL is wrong in Apiary API docs.  It is http://lore.mit.edu there, but the correct URL is http://lore.odl.mit.edu

[2015-07-08 15:54] carsongee opened #318 "Vocabulary facets appear to use slug instead of name"
It would be nice if we had both available in the template, so we can do CSS type stuff for the checkboxes as well as showing the name the user typed in for their vocabulary,

![image](https://cloud.githubusercontent.com/assets/596029/8575059/f7ec3608-2567-11e5-97d2-fe0a69311807.png)

[2015-07-08 20:36] pwilkins opened #321 "Add roles to LORE API doc"
We want the Roles functions to appear in our Sphinx build of API documentation.

[2015-07-09 03:11] pwilkins opened #322 "Extend reactjs test coverage"
Extend reactjs test coverage

[2015-07-09 15:33] carsongee opened #325 "Create resource api should have description parameter"

[2015-07-10 12:07] pwilkins opened #327 "UI: Long course name causes left panel to wrap"
A long course name causes the facet panel to wrap. Consider truncating the name with ellipses and show the full name on cursor roll-over.

![screen shot 2015-07-08 at 2 32 14 pm](https://cloud.githubusercontent.com/assets/145821/8618254/4a1948ee-26da-11e5-8df0-8acfb5b433ec.png)

[2015-07-10 12:15] #317 closed

[2015-07-10 12:54] amir-qayyum-khan commented on #322
Done

[2015-07-10 15:12] carsongee opened #329 "Upgrade haystack to 2.4.0 and new generic_view views"
http://django-haystack.readthedocs.org/en/latest/views_and_forms.html#upgrading

[2015-07-10 15:27] pwilkins opened #331 "UI: Update Manage Members panel to use reactjs components"
The ``Manage Members`` panel is currently implemented using plain javascript and jQuery.  Our goal is use ReactJS for our UI.  This issue is to convert the ``Manage Members`` panel from javascript to ReactJS.

[2015-07-10 18:33] noisecapella opened #335 "Fix line numbers in javascript test stack traces"
For JSX files at least the file is mangled and the line numbers don't mean anything. There's probably some way to configure Karma to keep track of line numbers better.

[2015-07-10 20:03] #315 closed

[2015-07-10 21:21] giocalitri opened #337 "Learning Resources Panel need UI refactoring for the taxonomy checkboxes"
![ui_tofix](https://cloud.githubusercontent.com/assets/1005204/8629303/12a39b5a-2728-11e5-852a-bc944bdda52e.png)

[2015-07-10 21:24] giocalitri opened #338 "Learning Resources Panel needs to refresh every time a user opens it"
Currently the Learning Resources Panel refreshes the content only when the user clicks it for the first time or after clicking on another learning resource.

This is not a problem unless the user creates a new taxonomy. In this case the new taxonomy will not show up int he panel unless it refreshes.

[2015-07-13 15:13] carsongee opened #343 "In smaller browsers or mobile, the navigation menu disappears"
i.e. Manage Taxonomies, Import Course, Manage Users.  I believe this is a simple html/css issue as bootstrap appears to recognize they should be turned into mobile menu items since they disappear, but the mobile menu button does not show up. Maybe it is behind the logo?

[2015-07-13 15:54] pdpinch commented on #299
@noisecapella was this partially closed by #309?

It seems like I can now enter descriptions, but they don't display in the listing page.

[2015-07-13 15:57] pdpinch commented on #150
closed via #271

[2015-07-13 15:57] #150 closed

[2015-07-13 15:59] pdpinch commented on #159
Closed by #203

[2015-07-13 15:59] #159 closed

[2015-07-13 16:39] noisecapella opened #345 "When refreshing the repository page, Manage Taxonomies tab appears and then animates to the right"

[2015-07-13 16:39] noisecapella commented on #345
![screenshot from 2015-07-13 12 39 28](https://cloud.githubusercontent.com/assets/863262/8655003/444f952e-295c-11e5-9360-0c7acbcccf47.png)

[2015-07-13 16:48] noisecapella commented on #299
I'm able to enter descriptions then see those descriptions when I search for the item. It won't update the listing automatically, you would need to refresh the page and make sure the course isn't somewhere else in the listing due to the change of description

[2015-07-13 17:08] pdpinch opened #346 "Collapse vocabs/terms ui into a double drop-down"
This UI change is a solution to the problem that there may be many, many vocabularies in a repository.

First column allows user to choose vocabulary, second column would be used to choose a term/terms.

[2015-07-13 17:08] noisecapella opened #347 "Collections retrieved through API are limited to 20 items"
The API limits all collections to 20 items with a link to the next 20 items, etc. Currently we do not retrieve the next 20 items for any API call in the UI. We can change this on a case by case basis, maybe move all AJAX calls into utility functions or install a model like Backbone to handle this automatically.

[2015-07-13 17:10] pdpinch opened #348 "Refresh search results after editing a learning resource"
So that facets and descriptions will be added to the search results.

[2015-07-13 17:12] noisecapella commented on #346
Currently when the Save button is clicked the UI will update each term to whatever is selected at the time. This UI change will limit the user to changing only one term selection at a time. That's not a big deal but it makes the UX clunkier IMHO

[2015-07-13 17:13] pdpinch opened #349 "Search: add ui for choosing sort order"
Options:
should include analytics fields

Default:
number of views (from analytics)

This needs further description.

[2015-07-13 17:14] pdpinch opened #350 "Search: add informational text to make it clear which fields are searched"
As a user, I would like to know which fields are searched when doing a full text search.

Suggestion to add a Tool Tip (Bootstrap?) to the search input field.

Needs text.

[2015-07-13 17:24] pdpinch opened #351 "Preview"
Use the url_name of the learning resource with a jump_to_id edX request to open the correct view

If there is no url_name, we can live with the default results from edX

- [x] Add a configuration variable for the base URL for preview (staging for us)
- [x] add preview link to listing view
- [x] add preview link to learning resource panel
- [x] Construct the URL from base URL/org/course/jump_to_id/

[2015-07-13 19:24] #283 closed

[2015-07-14 17:20] #294 closed

[2015-07-14 18:48] pdpinch commented on #299
closed by #309

I didn't realize that a refresh was necessary.

[2015-07-14 18:48] #299 closed

[2015-07-14 18:49] giocalitri commented on #350
this was not just a text to say that the search was going to be performed in some specific fields?

[2015-07-14 18:52] #298 closed

[2015-07-14 18:56] giocalitri commented on #347
this can create a bad user experience pretty soon, especially considering what @Ferdi said about the amount of terms that they want to assign to a learning resource: I think this should be priority 1 after the basic functionalities are all implemented
cc @pdpinch

[2015-07-14 18:59] Ferdi commented on #347
20 is the default, right ?  Can developer overrides that on each call if they wanted ?

[2015-07-14 18:59] giocalitri commented on #322
what is this about?

[2015-07-14 19:00] noisecapella commented on #322
Adding unit tests to cover most of manage_taxonomies.jsx

[2015-07-14 19:09] noisecapella commented on #347
No, that's turned off by default. We could turn it on but it may be easier just to have a Javascript function which follows the pagination links automatically

[2015-07-14 19:11] giocalitri commented on #322
is it finished?

[2015-07-14 19:11] noisecapella commented on #322
No, it depends on the linked PR

[2015-07-14 19:21] carsongee opened #356 "Static asset collision/overwriting"
If a person uploads the same course to two different repositories, the static assets from the second time importing the same course will overwrite those that are previously uploaded.  A simple addition of repo slugto the basename should resolve this

[2015-07-14 19:33] ShawnMilo commented on #356
The fix will also have to update all existing `StaticAsset`s to use the new location information.

[2015-07-14 20:01] pdpinch opened #357 "Export: user can add resources to a shopping cart for export"
Shopping carts contents are per-user and can be stored in a cookie.

[2015-07-14 20:01] pdpinch opened #358 "Export: user can "preview" list of learning resources in shopping cart before export"

[2015-07-14 20:22] carsongee opened #359 "As we add new parsers, we will want to to re-parse courses"
I think a management command would be appropriate that could re-parse courses as we add more intelligence to our static asset parsing capabilities.

[2015-07-15 11:39] pdpinch commented on #350
@giocalitri that's it exactly.

@ShawnMilo can you remind us here which fields are searched in the full text search?

[2015-07-15 11:45] #272 closed

[2015-07-15 12:09] amir-qayyum-khan commented on #350
@pdpinch  please explain use case.

[2015-07-15 12:11] pdpinch commented on #350
I updated the description. Did that clarify enough?

[2015-07-15 13:00] giocalitri commented on #356
@ShawnMilo I don't think it's necessary: the risk of collisions with the current path is frankly minimal and it's extremely unlikely that the users uploaded the same course with the same run and with static assets named in the same way but that have different content.
I think we should just solve the problem for the future.

[2015-07-15 13:59] ShawnMilo commented on #350
@pdpinch: The fields indexed for the search text box are:

`title`, `description`, and `content_xml` with the tags stripped out.

[2015-07-15 14:26] ShawnMilo commented on #166
Will this be read-only from xanalytics?

[2015-07-15 14:54] Ferdi commented on #166
Yes, it's read only.  @ShawnMilo and I chatted about this ..

To get started, we can create a json endpoint in lore (for development only). Each response would look like:

[code]

[2015-07-15 14:56] #254 closed

[2015-07-15 15:53] Ferdi commented on #346
@noisecapella are we talking about the same thing ?  Here is what I have in mind :

![vocab_assign](https://cloud.githubusercontent.com/assets/125561/8702819/18ffbfce-2ae8-11e5-85be-d143244c3b3d.png)

[2015-07-15 16:10] carsongee commented on #166
Is this to mock the analytics service?  If so, it might be easier to use something like https://pypi.python.org/pypi/vcrpy or https://pypi.python.org/pypi/betamax/0.1.6 (though I favor vcrpy), to handcraft an expected response for writing tests, and then when the real server comes online, you can just blow those "cassettes" away and re-record from the real server.

[2015-07-15 16:10] ShawnMilo commented on #166
Does xanalytics provide an endpoint for providing course information and receiving this information about `LearningResource`s in bulk, or do we need to perform a query per `LearningResource`?

[2015-07-15 16:12] ShawnMilo commented on #166
@carsongee: I was planning on just making a URL in the newly-created `xanalytics` app that returned fake values, then use your `get_var` setup to allow for overrides by environment variable. Then the fake endpoint can be used for unit tests.

[2015-07-15 16:21] Ferdi commented on #166
Shawn,  the current thinking is to have a request for each learning
resources. Please feel free to talk to Ike and come up with something that
is easier on both sides. I don't think they have started yet.
- Sent from my phone

[2015-07-15 16:25] ShawnMilo commented on #166
Thank you. I will contact Ike.

[2015-07-15 17:15] giocalitri commented on #349
Sorting options are:
- nr_views (default)
- nr_attempts
- average_grade
- median_grade

[2015-07-15 18:10] ShawnMilo commented on #166
Pasting here for the record, from Ike:

[code]

[2015-07-15 19:05] giocalitri commented on #349
@Ferdi
the LearningResource model is currently defined like:

[code]

and as you can see there is no `median_grade`, but there is `xa_histogram_grade`: who is right?

[2015-07-15 19:18] noisecapella commented on #346
I think it would be a clunkier UX since you need to set two selection boxes instead of one. The second box would save its state when the value changes but the first box is just showing you which set of terms you're operating on. What does the '+' mean in your diagram?

[2015-07-15 19:56] Ferdi commented on #349
I thought there was a median_grade.  It looks like not, so you can ignore it.

[2015-07-15 20:09] noisecapella opened #367 "Facet term text is broken up by spaces"
@Ferdi pointed this out to me earlier. To reproduce, create terms with spaces in them. They show up on the listing page as separate words split by space

[2015-07-15 20:11] Ferdi commented on #346
Let say you have 100 vocabularies and user wants to assign 2 terms to the given resource
vocab1: someterm
vocab99: someotherterm

Left diagram:
We list all vocabularies in the page when user actually wants to only use 2 of them. She has to scrooool down to find vocab99

Right diagram:
- User selects vocab1 : someterm
- clicks +
- Selects vocab99: someotherterm

Make sense ?

[2015-07-15 20:14] #347 closed

[2015-07-15 20:15] giocalitri commented on #349
what do I do with histogram_grade?

[2015-07-15 20:28] Ferdi commented on #349
Ignore, that's not a value.

[2015-07-15 20:52] noisecapella commented on #367
Here's a test I wrote to reproduce the problem (put in test_search_view.py). It fails on the last line

[code]

[2015-07-15 21:22] noisecapella commented on #346
Oh I think I understand now, the user would have two lines for the two vocabularies they want to select, the rest would be left out

[2015-07-15 21:38] noisecapella commented on #204
Fixed by #333

[2015-07-15 21:38] #204 closed

[2015-07-15 21:45] noisecapella commented on #190
Fixed by #209. The form returns a 400 error instead but at least this won't trigger any emails to Carson. The user can use the JSON part of the form to workaround this issue

[2015-07-15 21:45] #190 closed

[2015-07-16 12:23] #231 closed

[2015-07-16 13:58] #255 closed

[2015-07-16 17:56] Ferdi commented on #346
Right.

[2015-07-16 20:15] #214 closed

[2015-07-16 20:18] noisecapella opened #372 "User menu doesn't work on welcome page"
It works when viewing a repository but not on the welcome page. I inspected the element and it looks like the event is bound correctly for one and not the other, so I don't think it's simply a CSS issue

[2015-07-17 13:46] Ferdi commented on #350
I think #375 is good enough.

[2015-07-17 14:42] #350 closed

[2015-07-17 15:42] ShawnMilo opened #376 "test failure comparing assets to list"
`TestImportToy.test_parse_static` fails under some conditions. This is because it's comparing a list of `models.FileField` objects to a list of strings. This evidently works sometimes, probably due to the`__unicode__` representation of a `FileField`, but can fail.

[2015-07-17 16:04] #337 closed

[2015-07-17 16:34] Ferdi opened #380 "Edit vocabulary"
Users may want to edit the vocabulary to , for example, change the types of learning resources that vocabulary applies to.

See http://pureui.com/c/mit/lore/build004/

- [x] #506 Editing a term should make the term editable in place in the taxonomies panel
- [x] #507 deleting a term should remove it from all learning resources
- [x] #504 Editing a vocabulary should open the Vocabulary tab and popu

[2015-07-17 16:40] Ferdi opened #381 "Provide context (in the UI) about each learning resource object"
One of the important activities for curators it to curate content like adding description to learning resources. Preview feature ( #351 ) will help but we should also provide some information about the resource (like the chapter name, sequential name they appear)

[2015-07-17 20:48] #376 closed

[2015-07-17 21:02] #367 closed

[2015-07-17 21:05] ShawnMilo opened #384 "Handle non-alphanumeric characters in terms."
Similar to #367, except other characters, including `-` and `@` will cause the same problem.

#367 was fixed by #382, but we should handle in a more universal manner. The current solution uses `string.replace()`, because Django's `slugify` adds hypens, which have the same problem.

-  Find out which characters have the issue (hopefully from Elasticsearch's documentation.
-  Create a function simil

[2015-07-20 12:38] pdpinch commented on #169
@carsongee @bdero Jolyon saw the link on lore-ci on Friday, but he noticed that the e-mail address wasn't configured properly -- It's still going to support@example.com

[2015-07-20 14:08] Ferdi commented on #325
Is this implemented already ?

[2015-07-20 14:10] Ferdi commented on #180
@giocalitri what is the status of this ?

[2015-07-20 14:16] giocalitri commented on #180
I'm thinking to leave it behind: it is pretty difficult to implement properly without a major refactoring to pass all the necessary data of the request object from the views.
It's much simpler to check for permissions at the view level.

What do you think, @Ferdi ?

[2015-07-20 14:20] noisecapella commented on #380
Are there any UI mockups available for this feature?

[2015-07-20 14:21] Ferdi commented on #180
Fine with me.

[2015-07-20 14:46] carsongee commented on #325
Nope: https://github.com/mitodl/lore/blob/master/learningresources/api.py#L78

[2015-07-20 14:48] pdpinch opened #387 "Export: builds gzip'ed file containing XML and static assets"
go for the simplest possible solution: one XML file for each learning resource, using the url_name

- [x] export is an asynchronous task
- [x] user needs a way to know the status of their export
- [x] use Amazon temporary S3 URLs to limit access
- [x] need way to manage collisions of learning resources. Can we use database ids? asset ids
- [x] need way to manage collisions of static assets.

[2015-07-20 15:02] pdpinch commented on #346
Also, we want to provide a tag-style ui for vocabs that support multiple values. Perhaps using https://select2.github.io/examples.html -- see "Tagging support"

[2015-07-20 15:14] pdpinch opened #388 "Display path on search results view"
As a user, I would like to see the context for the learning resources in my search results.

Ideally, the items in the path would be links to open the learning resource panel for the corresponding container resource.

May need to add path field (in model) to elastic search index.

[2015-07-20 15:19] pdpinch opened #389 "Make descriptions editable on the search results view"
As a user, it would save me time not having to open the detail panel every time I want to edit a learning resource description.

[2015-07-20 15:30] carsongee opened #390 "In reduced resolution, tabs in right panel disappear"

[2015-07-20 15:32] carsongee opened #391 "Static Asset tab in LR detail pain folded in Chrome"
![](https://s3.amazonaws.com/uploads.hipchat.com/151776/1097195/tRCCS1nkeBp96Vl/upload.png)

[2015-07-20 18:20] #338 closed

[2015-07-20 18:49] noisecapella opened #394 "Update apiary docs for various changes we made"
In these PRs we forgot to update apiary with the PR. We can do it all at once in a separate PR:
- #294
- #263
- #333
- #341 (name field)

[2015-07-20 19:06] giocalitri commented on #388
the column `materialized_path` contains entries like
`/course/chapter[9]/sequential[8]/vertical[2]/html` that look like the XPATH to access the node in the XML.

@Ferdi said we want the real values for each node, so I think we need:
1- another field in the learningresource model
2- populate that field during the import
3- a migration to populate all the old entries
~~4- add the new field to the in

[2015-07-20 20:34] noisecapella opened #395 "Use opaque-keys to validate on import"
Since we're going to use opaque-keys to format URLs and it raises validation errors if our course data is incorrect in some way, we should just use it during the import process so that the user is notified at that moment that the data they're importing has a problem.

[2015-07-20 21:38] #349 closed

[2015-07-20 22:03] carsongee commented on #395
And once it is python 3 compat, use it for preview URL generation

[2015-07-21 14:35] carsongee opened #398 "Add timestamps to LearningResource modelresult documents"
This helps Ops track additions over time so we know how to scale and when to scale the elasticsearch and database backends for the app

[2015-07-21 17:34] #384 closed

[2015-07-21 17:52] noisecapella commented on #395
They've marked [the issue](https://openedx.atlassian.net/browse/PLAT-752) as won't fix due to Python 3 not being supported, so I don't think this issue will be fulfillable

[2015-07-21 17:52] #395 closed

[2015-07-22 18:08] giocalitri opened #402 "Make the listing page elasticsearch powered ONLY"
Make sure to avoid hitting the DB.

Bonus points if we enforce this with exceptions if in the templates someone writes `result.object.<model_field>` that will force Django to hit the DB anyway.

References:
https://django-haystack.readthedocs.org/en/v2.4.0/best_practices.html#avoid-hitting-the-database
https://www.dominicrodger.com/order-n-haystack.html

[2015-07-22 18:41] carsongee commented on #402
love the bonus points

[2015-07-23 02:39] giocalitri commented on #227
Fixed by PR #392
[#97733452]

[2015-07-23 02:39] #227 closed

[2015-07-23 13:32] pdpinch commented on #381
@ferdi is this the same as #388 ?

[2015-07-23 14:12] Ferdi commented on #381
Yes.

[2015-07-23 14:59] giocalitri commented on #346
other useful link
https://github.com/JedWatson/react-select

[2015-07-23 19:25] noisecapella opened #408 "Remove export view"
The export view was replaced with the REST api (`content_xml` within repositories/repo/learning_resources/#/) so we should remove it.

[2015-07-23 20:54] #408 closed

[2015-07-24 14:42] #388 closed

[2015-07-24 15:09] pdpinch commented on #318
@ShawnMilo whatever happened to this? I think you closed Amir's PR #374 in favor of some changes you were going to make. Did those get merged?

[2015-07-24 15:10] pdpinch commented on #120
all done.

[2015-07-24 15:10] #120 closed

[2015-07-24 15:10] ShawnMilo commented on #318
Yes, #384 fixed this (merged in PR #397).

[2015-07-24 15:11] ShawnMilo commented on #318
Oops. I had a typo in PR #397 which closed #316 instead of #318. Will fix.

[2015-07-24 15:11] #318 closed

[2015-07-24 16:34] noisecapella opened #409 "Key collision errors in Javascript tests"
When running the Javascript tests I get

WARN: 'Warning: flattenChildren(...): Encountered two children with the same key, `.2:$difficulty`. Child keys must be unique; when two children share a key, only the first child will be used.'
WARN: 'Warning: flattenChildren(...): Encountered two children with the same key, `.2:$difficulty`. Child keys must be unique; when two children share a key, only th

[2015-07-24 17:21] noisecapella opened #411 "Validate usernames for members API"
Currently we treat the username like a slug, only allowing words and hyphens. This may reject some valid usernames from our API. We should figure out what we need to allow, or if we need to allow things like flashes we also need to `encodeURIComponent` the username in all our requests

[2015-07-24 18:28] ShawnMilo opened #412 "Add a "devops" permission."
As an MITODL team member, I'd like the ability to do things like re-index Elasticsearch and re-import xanalytics data. This requires a special permission to keep this colossal power out of the hands of mere mortals.

This was brought up by @Ferdi when discussing the ability to update xanalytics data.

Open question: Per-repository, or globally?

FYI @giocalitri

The ability to re-index and re-impo

[2015-07-24 18:41] carsongee commented on #412
Why not have these just be the management commands?  If we have use cases where DevOps isn't meeting development needs for timeliness on production deployments, we can provide those to team members via external means (Jenkins for example).

[2015-07-24 18:43] giocalitri commented on #412
I guess it is to give the permission also to some of the real users and not only to us

[2015-07-24 18:56] ShawnMilo commented on #412
It is my understanding that @Ferdi wants to be able to do it live during demos, without resorting to a shell prompt or requesting someone else to do something.

[2015-07-24 19:03] Ferdi commented on #412
We have talked about this. It's not a Devops permission but more like a
global  "manage all repositories".
- Sent from my phone

[2015-07-24 19:54] noisecapella opened #413 "Move JavaScript API mocked responses to JSON files"
This will clean up our tests a little bit and reduce some boilerplate. They're referred to as proxy mocks by mockjax. We can define the standard responses and then make exceptions to these responses on a case by case basis within the tests.

[2015-07-27 13:54] noisecapella opened #416 "Refactor React message code into single class"

[2015-07-27 13:58] #357 closed

[2015-07-27 15:42] pdpinch opened #418 "Collapse repository management buttons into a drop-down menu"
To conserve screen real estate, and to group repository management functions, the repository management buttons should all be part of one "admin" menu. The following buttons should go into the menu (preserving their existing permissions)

- Manage Taxonomies
- Manage Members
- Import Analytics
- Index Resources

[2015-07-27 15:43] pdpinch commented on #418
@Ferdi is this what you had in mind?

Is the wording on the menu options correct? (would "re-import analytics" and "re-index resources" be better?)

[2015-07-27 16:54] Ferdi opened #419 ""Export" button should not be shown on an empty repository"
<img width="912" alt="exportbutton" src="https://cloud.githubusercontent.com/assets/125561/8912107/8d04add8-345e-11e5-8e41-11c2bdb4df33.png">

[2015-07-27 18:29] pdpinch commented on #387
XML should be organized into folders, with a folder for each XBlock type, e.g. problem, video, vertical, sequential, chapters -- in order to match the structure of OLX. Static files should go into a folder names /static

[2015-07-27 19:42] noisecapella opened #422 "Export links sometimes don't update export count"

[2015-07-27 20:05] #416 closed

[2015-07-28 13:38] noisecapella opened #425 "Show export checkboxes on export panel and update API to input this list"
This would let the user check and uncheck certain resources at the export panel and would also make it fit the UI mockups better.

[2015-07-28 18:23] #409 closed

[2015-07-28 18:55] giocalitri opened #429 "the XML preview box for a LearningResource should be read only"
Currently it allows changes but they are not saved and this can be misleading even if the current implementation is consistent with the mockup.

[2015-07-29 09:45] #381 closed

[2015-07-29 09:49] pdpinch commented on #322
@noisecapella #328 is merged now. Can this be closed?

[2015-07-29 15:47] carsongee opened #431 "Install statsd and instrument code base"
Thoughts on things to be instrumented:
- Time to import
- Time to update index per hook
- Time to pull search on listing page

[2015-07-29 17:30] #402 closed

[2015-07-29 20:26] carsongee opened #434 "Failed import - CC.801 from staging.mitx.mit.edu"
[code]

[2015-07-29 20:30] tssheth commented on #434
It appears to import fine using the ZIP directly from the github.mit.edu content repo.  However, when the course was loaded via sysadmin dashboard on staging.mitx.mit.edu and then exported via studio, the tar.gz did not import.

[2015-07-29 20:32] carsongee opened #435 "Workers out of memory"
We are exceeding the allocation of memory on our worker instances (512MiB).  It currently reported:
[code]
when processing CC.801.  I can double the workers memory at a cost, but it would be nice to know what our current upper limit is (with our course set). With small violations like this, it won't impact successful imports, and would save us some money to not have to double the workers unless th

[2015-07-29 20:34] noisecapella opened #436 "Create React component for iCheck checkboxes"
This is necessary to match the UI mocks

[2015-07-29 21:11] ShawnMilo opened #438 "Select all / deselect all when creating vocabulary."
Based on today's demo, it seems like it would be convenient to have this so all resource types don't need to be selected individually.

[2015-07-29 21:14] ShawnMilo opened #439 "Successful LearningResource "save" may not be obvious to the user."
If the user is editing the description of a LearningResource and scroll down to the bottom to click the "Save" button, they may have no indication it worked and continue clicking. This is because the confirmation is at the top of the screen and may be invisible.

Possibilities:

* Move the confirmation to the bottom, where the user must be to click "Save."
* Scroll to the top upon click so the con

[2015-07-29 21:14] Ferdi commented on #438
Yes
- Sent from my phone

[2015-07-29 21:25] pdpinch commented on #434
@jetej can you give me a copy of the .tar.gz exported from studio?

The path it's looking for is... odd..

At the end of the day, this may point to an issue in XBundle anyway.

[2015-07-29 21:43] pdpinch commented on #435
We'll be testing imports of the physics courses listed in [the wiki](https://github.com/mitodl/lore/wiki/LORE-Project-Status#test-courses). That should give us some data about large courses.

CC.801 is a bit of an edge case, in that it has 250MB of of static content but its XML size is about the same as 8.01r.

[2015-07-29 21:51] ShawnMilo opened #440 "Cascading taxonomies."
Just throwing this out there for discussion.

One of the questions asked during today's demo seemed to imply that, if a user were to apply a term to a vertical, perhaps that term should be applied to sub-objects, such as all problems.

Possible use-case:

Vocabulary "difficultly" is created. It's applied only to vertical, video, and problem. User goes to the a vertical and marks it "easy." This ma

[2015-07-29 21:57] carsongee commented on #435
The static files shouldn't change the memory footprint much, since the file is chunked into memory on demand: https://github.com/jschneier/django-storages/blob/master/storages/backends/s3boto.py#L199

[2015-07-29 22:00] pdpinch commented on #435
In that case, 8.MReV and 8.MechCx will be much worse than CC.801. :fearful:

[2015-07-29 22:04] carsongee commented on #435
Yeah, I think that makes the case for someone running these through with a profiler attached to celery.  Celery also has some builtin memory profile tools

[2015-07-30 13:19] #429 closed

[2015-07-30 13:31] jetej commented on #434
@pdpinch
https://www.dropbox.com/s/j6uypkri02hgt8x/2014_Fall.0989j2.tar.gz?dl=0

[2015-07-30 15:00] carsongee commented on #434
Did you make that public? Please protect it

[2015-07-30 15:10] tssheth commented on #434
Sorry about that. It has been deleted.

[2015-07-30 18:26] #436 closed

[2015-07-30 19:58] #419 closed

[2015-07-30 20:00] pwilkins opened #448 "course imports as single item"
This course is loaded into staging.mitx.mit.edu: https://github.mit.edu/mitx/content-mit-801r-2012_Fall
When I clone the repo, create a tar.gz of the repo contents, and import it into LORE, it imports as a single item.  On staging it renders properly: https://staging.mitx.mit.edu/courses/MITx/8.01r-2012_Fall/2012_Fall/info

[2015-07-30 20:12] pwilkins commented on #448
I was able to use sysadmin/courses on sandbox2o to import this course from its git repo and then export it from studio-sandbox2o.  The exported file successfully loaded into LORE so Studio fixed whatever was broken in the git tarball.

[2015-07-30 20:31] tssheth commented on #448
I successfully imported the zip directly from the github repo into lms-staging.  Then, I tried to import the course into lore and it resulted as a single course item, as @pwilkins mentioned.
I also tried importing the zip directly from the content repo into lore and that had the same result.

This was tested with https://github.mit.edu/edX-Archives/edX-Archive-8.MReVx-2T2014 and https://github.mit

[2015-07-30 20:46] jetej opened #449 "Importing duplicate courses into a single repo"
I was able to import the same course into a lore repo twice.

![screen shot 2015-07-30 at 4 39 14 pm](https://cloud.githubusercontent.com/assets/8117756/8994598/7a3a48ec-36da-11e5-9385-de39d45771fa.png)

8.MechCx:
https://github.mit.edu/edX-Archives/edX-Archive-8.MechCx-1T2015
Lore Repo:
https://lore-ci.herokuapp.com/repositories/tej-test/

[2015-07-30 21:56] carsongee commented on #448
Just to add some to this, I did the 8.01r course locally. It used 100% of the celery worker CPU and took  three minutes: `celery_1  | [2015-07-30 21:46:32,884: INFO/MainProcess] Task importer.tasks.import_file[cb1c3108-e1c6-4874-95e8-20be72ff3795] succeeded in 185.303660554s: None`'
After it completed all the items showed up ( 352):
![image](https://cloud.githubusercontent.com/assets/596029/899604

[2015-07-31 01:18] giocalitri opened #450 "Checkbox for "Allow multiple terms" in the taxonomy panel -> add vocabulary needs to be consistent with the rest of the UI"
Currently it's a simple checkbox

[2015-07-31 01:21] pdpinch commented on #449
@carsongee @bdero can you guys take a look at the database for the tej-test repo and see if there are indeed two copies of the same course?

I'm wondering if this might be a race condition, where Tej uploaded a 2nd time before the first was done.

[2015-07-31 01:24] giocalitri commented on #439
I think we should show a loader every time the user clicks save

[2015-07-31 01:25] Ferdi commented on #439
@giocalitri good idea !

[2015-07-31 04:16] carsongee commented on #448
8.MechX imported after: 3507.65911322s in the docker container:
![image](https://cloud.githubusercontent.com/assets/596029/9000680/5a0ae9c0-3719-11e5-9fbc-0e4b311e5a45.png)

[2015-07-31 13:18] carsongee commented on #448
In the current release (same system) the import of 8.01 took 25.558808708s (7x faster). and MechCx took: 174.744378279s (20x speed up).  I think we will probably want to figure this out before releasing.

[2015-07-31 14:44] pdpinch commented on #389
@Ferdi what did you have in mind for UI for this?

Do we need an edit button?

Do we need a save button?

See the screenshots in #454

[2015-07-31 15:54] noisecapella commented on #387
Can we change this to first asset wins instead of last asset wins? It makes the coding slightly easier. Current plan is to have first asset keep its name and all other assets append a `_1`, `_2` etc before the extension.

Is it ok if resource XML files are formatted `{id}_{name}.xml`, or is `url_name` very much desired? What if the `url_name` doesn't exist?

[2015-07-31 16:00] ShawnMilo commented on #387
Considering that the export order is essentially random, I don't see any reason why not.

[2015-07-31 16:04] pdpinch commented on #387
- last asset wins is just as good.
- is {name} equivalent to the display_name attribute in the XML or url_name? I would prefer the later, i.e. {id}_{url_name} with a failover to just {id} when there is no url_name.

  Display names make poor file names (spaces, etc.) and they are more likely to collide (not an issue with the {id} but still confusing for humans)

[2015-07-31 16:24] Ferdi commented on #389
- Edit should be the  "pen" as seen here http://pureui.com/c/mit/lore/build004/ (click "manage taxonomies")
- The edit form should be a 'bootstrap' form (see other forms for markup)
- Try to make the width of the edit box  100%
- In addition to 'save' the edit box needs a cancel button
- Clicking 'save' curently reloads the page.
- Only one edit box/form should be open at a given time.
- Clicking

[2015-07-31 17:30] noisecapella opened #455 "Rewrite listing page in React"
This would have several benefits:
 - No operations would require a page refresh anymore
 - Easier to test listing page (currently there are no tests covering this part)
 - Cleaner code
 - Easier integration with existing React components

Potential complications:
 - Integration with haystack text caching

Any thoughts?

[2015-07-31 17:40] giocalitri commented on #448
My initial theory was that the problem was caused by the fact that we use
[RealtimeSignalProcessor](http://django-haystack.readthedocs.org/en/v2.4.0/signal_processors.html#realtime-realtimesignalprocessor) for haystack to trigger updates to elasticsearch.

This settings works great during the normal use of the website, but it's not ideal during the import, when it is maybe better to do batch index

[2015-07-31 19:22] Ferdi commented on #455
Each learning resource will be a react component ?  What else will change ?

[2015-07-31 19:32] noisecapella commented on #455
There would be a component managing everything as well as other smaller components like the panels, learning resources, and so on. For example if a user wanted to search by a learning resource type, they would click the checkbox, that component would tell the main component that it needs to update the resources on the page, the main component would ask the API for a new set of information and it w

[2015-08-03 10:15] amir-qayyum-khan commented on #389
- [x] Edit should be the  "pen" as seen here http://pureui.com/c/mit/lore/build004/ (click "manage taxonomies")
- [x] The edit form should be a 'bootstrap' form (see other forms for markup)
- [x] Try to make the width of the edit box  100%
- [x] In addition to 'save' the edit box needs a cancel button
- [x] Clicking 'save' curently reloads the page.
- [x] Only one edit box/form should be open at a

[2015-08-03 14:49] noisecapella opened #459 "Create Select2 React component"
This will take the work done by @giocalitri and make it into a reusable component

[2015-08-03 14:53] carsongee commented on #448
I'm not quite sure how the import goes, but I'm guessing the slower POSTs are just from posting larger content structures.  i.e. the course block is upwards of 4MiBs, but once you get down to ingesting problems they are usually <1KiB

[2015-08-03 14:55] noisecapella opened #462 "Export button disappears when resources disappear"
The button should be visible if there are resources in the repository, even if there aren't any on the page at the moment.

[2015-08-03 15:11] giocalitri commented on #448
That was the first idea me and Brandon had on Friday, but the problem is that all the following attempts to import the same large course or other large courses after the first one are immediately fast from the beginning.
Anyway, I'm not sure this is relevant, but I would look at the celery or elasticsearch logs on heroku to see if there is a similar issue.

[2015-08-03 17:36] carsongee commented on #448
So my original test was a bit wrong.  It turns out when I thought I was testing against the latest release, I was actually testing against v0.4.0 instead of v0.5.0.  I'll work on verifying it, but I think it means there isn't any additional slowdown between v0.5 and v0.6, and that the most likely culprit is additional parsing of assets on import.  We may look at optimizing there after I verify, bu

[2015-08-03 17:43] pdpinch commented on #351
Closed by #352 and #399

[2015-08-03 17:43] #351 closed

[2015-08-03 18:28] carsongee commented on #448
I confirmed this by running bisect from v0.4.0 to v0.5.0:

[code]

which makes a lot of sense since we added a ton of xml parsing with that commit.

[2015-08-03 18:48] noisecapella opened #463 "Javascript timeouts"
This is something that's also present on the UI mockup to a lesser degree. The page stalls for a moment then all the javascript for the listing page is executed. You can see this in the checkboxes which become iCheck checkboxes after a noticeable lag.

I've also occasionally gotten this from lore-ci when the delay is so long that it quits:

    Error: Load timeout for modules: jquery,lodash,reacta

[2015-08-03 18:53] pdpinch opened #464 "Reorder import pipeline"
Does it make sense to break up XML parsing from static asset parsing so static asset parsing doesn't block the rest of import, i.e.

1. Import the course
2. Import the static assets
3. Parse the course & the static assets to build the linking between learning resources and static assets.
cons: user can't export before the parsing is complete

[2015-08-03 18:54] pdpinch opened #465 "Static asset parsing improvements"
If there is a way that we could only parse the leaf nodes, we could cut down on the amount of duplicate parsing.

[2015-08-03 19:27] noisecapella commented on #389
If we rewrote the learning resource items to use React we would be able to do in place updates of the description text more easily. It would also get us closer to replacing the entire listing page (#455).

[2015-08-04 09:52] #223 closed

[2015-08-04 09:56] pdpinch commented on #418
There is currently no button for "index resources" but there is a management command that can be wired in. I'm not sure yet about "import analytics"

[2015-08-04 14:41] Ferdi commented on #462
@noisecapella not sure I understand this. How do resources disappear ?

[2015-08-04 15:08] Ferdi commented on #389
I actually agree with @noisecapella . Looks like a perfect use case for react.

[2015-08-04 15:44] ShawnMilo opened #467 "Use Django's caching for indexing data caching."
As an upgrade to #460, use Django's built-in caching (with its [expiration support](https://docs.djangoproject.com/en/1.8/topics/cache/#cache-arguments) to replace the dicts in `search/search_indexes.py`.

This will make the code simpler. This may also mean replacing the `ALLOW_CACHING` setting that was added in that PR in favor of a `CACHE_TIMEOUT` setting used to populate the Django caching `TIM

[2015-08-04 15:50] ShawnMilo commented on #467
At @carsongee's recommendation, we should also add tests to this improvement PR which ensure the number of DB queries goes down. This can be accomplished with [assertNumQueries](https://docs.djangoproject.com/en/1.8/topics/testing/tools/).

[2015-08-04 16:29] noisecapella commented on #462
If you search for 'zebra' there are no resources on the page at the moment so the export button disappears too. It should stick around if there are any learning resources in the repository, not just in the current page.

[2015-08-04 16:35] Ferdi commented on #462
Got it,  thanks!
- Sent from my phone

[2015-08-04 19:34] jamiefolsom opened #468 "In the taxonomy panel, there's no label that shows which resource we're editing."
If you look at the xml, you can tell which one it is, but there's no label. Seems there should be one at the top of the panel. Especially if the XML editor is moving to a tab, because then the user won't know which resource it is without moving to another tab.

![screen shot 2015-08-04 at 2 32 05 pm](https://cloud.githubusercontent.com/assets/882377/9070495/eea8ddec-3abd-11e5-8bd4-ea0d83cd7cc0.png

[2015-08-04 19:37] jamiefolsom commented on #450
This was closed by https://github.com/mitodl/lore/pull/458, correct, @amir-qayyum-khan?

[2015-08-04 20:48] pwilkins opened #469 "API for deleting a course"
As a tester, I'd like to be able to delete courses from a repository. Curators may also wish to do this.

- [ ] Create API for deleting courses.
    - [ ] This is presumably a cascading delete.
    - [ ] permissions should be the same as for import: administrators and curators
    - [ ] need to delete static files as well

------

A privileged LORE user (administrator, curator?) should be able to

[2015-08-05 13:15] amir-qayyum-khan commented on #450
yes @jamiefolsom ,

#457 was created by me mistakenly from my own fork, thats why i closed it.

[2015-08-05 14:14] noisecapella commented on #346
![18ffbfce-2ae8-11e5-85be-d143244c3b3d](https://cloud.githubusercontent.com/assets/863262/9087760/957a9272-3b5a-11e5-9986-c6915d62dd17.png)

After talking with Jamie about it yesterday I was wondering if this made more sense for a UI mock (excuse the badly thrown together image).

[2015-08-05 15:04] Ferdi commented on #346
I had in mind something like this

![vocab_assign](https://cloud.githubusercontent.com/assets/125561/9089133/b4e9fda8-3b61-11e5-818c-40b3d97a7077.png)

[2015-08-05 15:05] noisecapella commented on #346
What does the vocab select box on the first row mean? Or the term select box on the row with the plus?

[2015-08-05 15:12] Ferdi commented on #346
How is this ?

![vocab_assign_2](https://cloud.githubusercontent.com/assets/125561/9089360/ccd715c6-3b62-11e5-8764-707bf4e68f7d.png)

[2015-08-05 15:16] noisecapella commented on #346
Wouldn't the first row's vocab select only ever have one item in it? And the term select on the row with the plus would never have any items in it. Is the intention that the last row is used the same as all the rows before it?

[2015-08-05 15:33] Ferdi commented on #346
![vocab_assign_3](https://cloud.githubusercontent.com/assets/125561/9089846/481d570c-3b65-11e5-8c8b-0b26cb0ed18a.png)

No, if you click on it, you can see all vocabs.  You can even change your mind to select a different vocab. When you do that, the corresponding term select, will be refreshed with terms that belong to that vocab.

Make sense ?

[2015-08-05 15:37] noisecapella commented on #346
What would happen if you changed vocab 67 to vocab 2 which is what the second row is set to? It seems like the user would be able to set terms from the same vocabulary in two different places which may conflict. This isn't a big problem, just wondering if that's the intent.

Also, when the user changes vocabularies in general would the list of currently selected terms be erased for that row?

[2015-08-05 15:45] Ferdi commented on #346
Good question, not sure.  2 ways to deal with it
1. When user select a vocab in one of the rows, that vocab should be removed from all other vocab selects
2. If users selected the same vocab in  >1 row
   row1:  vocab2  terms: term1, term2
   row2:  vocab2  terms: term1, term3

..then the list of terms is merged into one  :  term1, term2, term3 , removing duplicates.

Yes,  and the select is refre

[2015-08-05 15:46] jamiefolsom commented on #346
Hi both, chiming in here -- couldn't there just be one menu UI -- have a look for example at the todomvc UI -- in our case, there would be two menus where there's just one text field on that example, but otherwise, it could work the same -- list growing below the UI control -- http://todomvc.com/examples/react/#/

[2015-08-05 15:58] Ferdi commented on #346
What @jamiefolsom has in mind is awesome - we just chatted.

[2015-08-05 16:24] #425 closed

[2015-08-05 16:39] pwilkins commented on #469
Consider that deleting a course might be an entirely different use case than deleting the learning resources of a course.  I find deleting a course much more useful than deleting individual learning resources.

[2015-08-05 16:45] ShawnMilo opened #470 "create a management command for populating xanalytics"
This management command will accept a course ID and populate xanalytics data. This will be used to manually refresh the data, either because the course was imported before the xanalytics API was plugged in, or because the xanalytics data has been updated and should be reflected in LORE.

In its first iteration, it will generate random values for demo purposes. In the next, it will use the real xan

[2015-08-05 17:20] amir-qayyum-khan commented on #418
In the up coming PR I am going to move 4 links **Manage Taxonomies, Manage Members, Import Analytics, Index Resources** on the top of repository page (Learning resource page) to the menu that contains **Logout**. So menu on top will become
- User name + settings icon instead of arrow down
- (Home icon) Index Resources
- (Icon) Manage Taxonomies
- (Icon) Import Analytics
- (Icon) Manage Members
- (

[2015-08-05 17:33] amir-qayyum-khan commented on #455
In upcoming PR i am going to divide Learning resource in to react components like for example
- Editable description component
- Learning resource
- Learning resource list

A  will bind (reuse) panels like learning resource panel, export panel with Learning resource listing.
Will handle permissions and other events in react class.

What do you say @pdpinch @Ferdi

[2015-08-05 17:34] Ferdi commented on #455
Would it make sense to start with only "Editable description component" ?   And do the rest on separate PRs ?

[2015-08-05 17:52] noisecapella commented on #455
Would anyone mind if I did this instead? I've run out of things to do and I have an idea how to implement this

[2015-08-05 17:52] #459 closed

[2015-08-05 18:00] noisecapella opened #471 "Export panel title's export count is out of sync with rest of page"
If you have three exports and you go to the export panel you will see 'Export (3)' in the side. However if you click an export link and then look at the export panel again this number doesn't update.

[2015-08-06 12:14] #470 closed

[2015-08-06 12:15] #450 closed

[2015-08-06 12:26] pdpinch commented on #387
This looks done to me. We will probably have some refinements to the ui/ux but those can go into new stories.

[2015-08-06 12:26] #387 closed

[2015-08-06 12:28] #165 closed

[2015-08-06 15:10] pdpinch opened #477 "Update templates to match UI designs"
We've gotten two more iterations of the UI from the designer. The templates need to be updated to reflect his changes. The nature of the changes were discussed on the odl-engineering-platform list.

To make it easier to see they changes, they've been put into a separate repo with PRs for each update:
build003: https://github.com/mitodl/loretemplates/pull/1
version004: https://github.com/mitodl/lor

[2015-08-07 11:58] pdpinch opened #483 "close panels with ESC key"
As a user, I would like to be able to close panels (like the learning resource panel) with a keyboard command. The ESC key has been suggested.

Be sure to return focus to the listing view when the panel is closed.

[2015-08-07 12:03] amir-qayyum-khan commented on #477
@pdpinch  I cant access build003 and version004

[2015-08-07 12:17] pdpinch commented on #166
@Ferdi do we want to close this issue, or should we leave it open until we get the API?

[2015-08-07 12:59] amir-qayyum-khan commented on #477
@pdpinch what is odl-engineering-platform list, can i see the list of changes decided by you guys.

[2015-08-07 13:31] noisecapella commented on #335
I did some investigation a few days ago, this is caused by the coverage preprocessor. The React preprocessor doesn't alter line numbers. You can disable the coverage preprocessor while doing tests but that won't help on Travis. Ideally the coverage preprocessor can be configured to output a sourcemap and the sourcemap preprocessor `karma-sourcemap-loader` can be configured to input this generated

[2015-08-07 16:33] #462 closed

[2015-08-07 17:35] #477 closed

[2015-08-07 18:27] pdpinch commented on #380
Yes, there are ui mockups. I updated the issue with more description.

[2015-08-07 19:06] Ferdi opened #487 "Export button visibility"
I'm not sure  #462 is right.  The export button should only be visible if there are resources to be exported.  By default does not show up at all.

[2015-08-07 19:07] Ferdi commented on #468
I agree, all panel windows should have titles.

[2015-08-07 19:08] ShawnMilo commented on #487
To clarify, do you mean the button never appears until after the user has clicked on some resources to populate their "shopping cart"? Regardless of whether any resources are currently shown on-screen. Once there are items in the cart, the button remains until the items are deleted or the cart is emptied. Is that correct?

[2015-08-07 19:22] pdpinch commented on #329
@carsongee was this closed by #400 ?

[2015-08-07 19:22] Ferdi commented on #287
See #380

[2015-08-07 19:22] #287 closed

[2015-08-07 19:26] Ferdi commented on #487
Right, that's what I meant. Makes sense ?

[2015-08-07 19:28] ShawnMilo commented on #487
Yes, that makes sense. Like a "check out" button not being available until there's something in the cart.

For uniformity of the UI, do we want to hide it or just disable it?

[2015-08-07 19:30] jamiefolsom commented on #468
OK, thanks. I'll work on this as soon as I've got the double dropdown implemented.

[2015-08-07 20:29] pwilkins commented on #477
@pdpinch What constitutes an acceptance test for this since the code changes are explicitly given?  I'd be inclined to accept this on the basis of finding the code changed as specified.

[2015-08-07 20:48] pwilkins opened #488 "left nav wraps when viewport width falls below 1200px"
This looks unattractive.  A properly responsive design should fit in its viewport.

@pdpinch @Ferdi

![screen shot 2015-08-07 at 4 41 58 pm](https://cloud.githubusercontent.com/assets/145821/9145592/cb60f67c-3d23-11e5-840b-b10cd3517c9d.png)

[2015-08-08 01:00] pwilkins opened #489 "learningresource panel tabs render differently on FireFox and Chrome"
The learningresource panel tabs render differently on Firefox and Chrome.

The learningresource panel tabs on Chrome:
<img width="152" alt="screen shot 2015-08-07 at 8 47 26 pm" src="https://cloud.githubusercontent.com/assets/145821/9148323/2b644336-3d46-11e5-86fa-e16dc4b09481.png">

The learningresource panel tabs on Firefox:
![screen shot 2015-08-07 at 8 48 46 pm](https://cloud.githubusercontent

[2015-08-10 13:53] pwilkins commented on #462
This issue is updated in #487.  That issue changes the spec on export button visibility.

[2015-08-10 15:16] pdpinch commented on #469
In discussing with @Ferdi we're going to focus on deleting courses with this issue.

[2015-08-10 15:26] carsongee commented on #329
Nope, we haven't actually changed the base class we are using to a non-deprecated one.

[2015-08-10 15:27] pwilkins opened #490 "Revert template change for learningresource list"
Revert breadcrumb styling of the template change implemented in issue #477 - "Update template to match UI designs".

This is the preferred style:
![screen shot 2015-08-10 at 11 03 09 am](https://cloud.githubusercontent.com/assets/145821/9175274/c562d1d8-3f52-11e5-9fe3-531df79e8587.png)

This is the newly introduced style that should be reverted:
![screen shot 2015-08-10 at 11 03 33 am](https://clo

[2015-08-10 15:28] #166 closed

[2015-08-10 15:29] carsongee commented on #489
This was already reported in https://github.com/mitodl/lore/issues/391

[2015-08-10 15:29] #489 closed

[2015-08-10 15:33] pdpinch commented on #418
@Ferdi this was merged and it's on lore-ci. Can you confirm this is what you wanted?

Kind of looks like this:

![actions](https://cloud.githubusercontent.com/assets/10431250/9168846/bac45a06-3f72-11e5-934c-ef71731f9f79.png)

[2015-08-10 15:35] pwilkins commented on #477
Although this passes acceptance testing, parts of it are reverted in #490.

[2015-08-10 15:38] Ferdi commented on #418
Actually, that's not what's I had in mind.

[2015-08-10 15:40] pdpinch commented on #123
This issue can be closed when new issues are opened for the following:
- [ ] parse jsinput blocks (later)
- [ ] parse iframe blocks (later)
- [ ] ui for users to identify assets that were missed by the XML parser (later)
- [ ] deal with exported asset name collisions (later)

[2015-08-10 16:49] pwilkins opened #491 "Repository Actions menu dropdown disappears in narrow viewports"
The Bootstrap menu dropdown should be available in all viewport sizes, but when viewport shrinks to cell phone width, the menu dropdown is no longer available on the page.
See PR #473.

@pdpinch

[2015-08-10 18:00] pwilkins commented on #471
So, for clarity, we're specifying that the `Export` button count is the number of LRs that will be written to the export file, not the number of LRs in the Export Panel list.

[2015-08-10 19:17] pdpinch commented on #471
If this is implemented in react, why isn't it working already?

[2015-08-10 19:24] pdpinch opened #492 "REST API for listing courses in a repository"
Not absolutely necessary for #469, but it will be very hard to use without a course id

[2015-08-10 19:27] pdpinch commented on #468
As it is in the mockups, http://pureui.com/c/mit/lore/build004/ or http://pureui.com/c/mit/lore/build005/index_alt1.html

[2015-08-10 19:29] pdpinch commented on #449
Need to reproduce.

[2015-08-10 19:33] pdpinch commented on #431
Add statsd to requirements, import to any file that needs it, add a counter. 3 line diff for each things its added to.

[2015-08-10 19:34] pdpinch opened #493 "API for listing courses in a repository"
Not absolutely necessary for #469, but it will be very hard to use without a course id

[2015-08-10 19:52] pdpinch commented on #329
Discovery only for now.

[2015-08-10 19:55] pdpinch commented on #312
Needs discovery. Try using s3 with django-compressor

[2015-08-10 20:03] pdpinch commented on #210
@Ferdi can Niccolae work on this?

[2015-08-10 20:33] tssheth commented on #449
I cannot seem to reproduce this case with smaller courses that import quickly. I'm guessing this is a race condition as @pdpinch mentioned above.

[2015-08-10 20:43] ShawnMilo commented on #449
Based on the [atomic decorator](https://github.com/mitodl/lore/blob/master/learningresources/api.py#L44) and the fact that the course is imported first, this shouldn't be possible.

Also, after taking another look at the screenshot above, the `models.Course` was not in fact imported twice, or it would appear twice under the "Course." header with the same name, and the filtering as shown couldn't p

[2015-08-10 20:44] ShawnMilo commented on #449
Follow-up for clarification: The same course was _not_ imported twice into the same repository. However, the same LearningResource was imported into the same course -- an important distinction.

[2015-08-11 02:27] carsongee opened #495 "Missing migrations"
I'm not sure when it snuck in, but on master there are migrations missing:
on build https://travis-ci.org/mitodl/lore/builds/74935056
[code]

[2015-08-11 12:48] amir-qayyum-khan commented on #471
Hi @pdpinch,

Because heading on export panel is not controlled via react, It depends on `exports` array, which is coming  from server (in the dict inside view). So options we have are
- Page needs to be refreshed because `exports` is change on server,
-  We need to make heading a react component which updates it self from server.

##### See references
- https://github.com/mitodl/lore/blob/master/

[2015-08-11 12:51] pdpinch commented on #471
Thanks Amir. That answers my earlier question.

React would be the consistent way to do this, but it seems like a lot of work. Did George touch this at all in #474 ?

What about updating the count with javascript when the user unchecks items in the form?

[2015-08-11 12:51] pdpinch commented on #483
Closed via #484

[2015-08-11 12:51] #483 closed

[2015-08-11 12:52] pdpinch commented on #372
Closed by #442

[2015-08-11 12:52] #372 closed

[2015-08-11 13:03] amir-qayyum-khan commented on #471
##### Answer to your first question is:

No George just convert export button into react component because it is part of learning resource listing. The scope of his PR only includes listing.
**Please see**
https://github.com/mitodl/lore/pull/474/files#diff-35881df8bdedc9017ef7e2a1ea29cd48R39

##### Second:

 Yes we can do it via javascript, but only for now . When George's PR will merge then we wi

[2015-08-11 13:06] pdpinch commented on #471
Can you do a PR to George's branch that creates the react component for the heading?

[2015-08-11 13:08] amir-qayyum-khan commented on #471
Do not need to change Georges PR, because this problem is out of its scope. I can create new PR on current master and create a react component on it.

[2015-08-11 13:12] pdpinch commented on #471
Ok, let's go with a react solution then.

[2015-08-11 13:23] amir-qayyum-khan commented on #471
Sorry there was misunderstanding , i need to create this PR on top of George work. Because of changes he made in listing.js (As discussed on chat)

Thanks

[2015-08-11 13:51] tssheth commented on #449
I could not reproduce this with a larger course either (6.341x).  @ShawnMilo Could the same LearningResource have been imported twice due to problems caused by https://github.com/mitodl/lore/issues/448?  The duplicate LearningResource was found when only the course item was displaying after a course was imported.

[2015-08-11 14:31] ShawnMilo commented on #202
Closing; was accepted it Pivotal #97469022 on August 7th.

[2015-08-11 14:31] #202 closed

[2015-08-11 16:04] pwilkins opened #497 "Add "Unselect All" ability for Export"
Since Export selections can be spread over multiple pages, it is inconvenient to clear all export selections without revisiting every page in the repository.  I propose that a "Unselect All" feature in the UI is needed.

[2015-08-11 16:29] jetej commented on #490
PR for this change at https://github.com/mitodl/loretemplates/pull/3

[2015-08-11 16:41] pwilkins commented on #422
This hasn't been fixed.  With no export toggles checked, I shouldn't be able to click this `Export` button,
<img width="164" alt="screen shot 2015-08-11 at 12 36 42 pm" src="https://cloud.githubusercontent.com/assets/145821/9203530/b9324ef6-4025-11e5-8ff0-f3b4bd51633b.png">

and get this empty export pane:
<img width="258" alt="screen shot 2015-08-11 at 12 36 57 pm" src="https://cloud.githubuserco

[2015-08-11 16:50] pwilkins commented on #419
Note that issue #487 changes the criteria for showing the `Export` button and how it is rendered.

[2015-08-11 18:27] tssheth commented on #490
These changes are in PR https://github.com/mitodl/lore/pull/499

[2015-08-11 21:13] #467 closed

[2015-08-12 14:43] amir-qayyum-khan commented on #380
- On clicking edit vocabulary button, I will switch tab and open vocabulary in edit mode. Save button will be change into update. And will add cancel button along with update. On pressing cancel or  update I will clear form and switch back to listing tab. In case of update I will update vocabulary. (Will see if there is any need to change API)
- On clicking delete button I will show a confirmation

[2015-08-12 14:53] amir-qayyum-khan commented on #487
For this task I will create a PR on the top of George work. Because George is working on refactoring listing.
- In react component inside rendering function i will add check if **Learning resource** count is greater than 0  only then I will add button to container.

cc @pdpinch

[2015-08-12 14:53] Ferdi commented on #380
Can we split this in  smaller issues
- Edit vocabulary
- Delete vocabulary
- Edit term
- Delete term

[2015-08-12 14:54] ShawnMilo commented on #329
Why are we considering doing this? Are there features we want, are the security concerns with the current version, or do we just generally want to keep up-to-date with our dependencies so we don't end up with a major incompatible upgrade later?

[2015-08-12 14:54] amir-qayyum-khan commented on #380
Yes we can. Do i need to create these issues on github or I just need to create 4 PRs for these tasks?

[2015-08-12 15:03] ShawnMilo commented on #329
I see Haystack was already upgraded to the latest (2.4.0). So this ticket is just for moving away from a deprecated view form as recommended in the Haystack documentation. So, super-non-urgent, but nice-to-have and shouldn't take long.

[2015-08-12 18:03] ShawnMilo commented on #495
This is due to me changing `related_name`. Interesting that that requires a migration. I suspect that's a relatively recent development in Django.

[2015-08-12 18:16] Ferdi commented on #380
Issues for each would be great.

[2015-08-12 20:27] #495 closed

[2015-08-12 20:28] ShawnMilo commented on #329
I made the required changes and then spent way too much time tracing through the Haystack and Django code trying to figure out why it kept breaking.

It turns out that Haystack 2.40 is simply [broken](https://github.com/django-haystack/django-haystack/issues/1159), at least if you're using facets. There's a [PR](https://github.com/django-haystack/django-haystack/pull/1149) for it, but no action si

[2015-08-12 20:29] carsongee commented on #329
:facepunch: :(

[2015-08-12 20:39] pwilkins opened #502 "Course parsing errors on non-canonical XML"
Jolyon reported this issue on CC.801 which has hand-written XML.  For example, this XML skips from chapter to vertical, ignoring the sequential. The result is that LORE doesn't include the complete XML for the chapter.  This is the complete contents of ``chapter/week1.xml`` which LORE displays in the learningresource pane.  But, this is not the complete XML for the chapter, which Jolyon wants to c

[2015-08-12 20:54] pwilkins opened #503 "Course should have its own type icon"
Currently, course and html share the same learningresource type icon.  Course should have its own type icon.  Jolyon, who reported the issue, created an icon and proposed we adopt it for the course type.

![course_icon-25x24](https://cloud.githubusercontent.com/assets/145821/9236417/c5d92678-4112-11e5-9e7f-953f18cff72d.png)

@pdpinch @Ferdi

[2015-08-12 21:06] #431 closed

[2015-08-12 21:35] ShawnMilo commented on #502
Is this course public? If so, please attach a link to it. If not, please let me know where I can get a copy of the whole course directory or tarball.

[2015-08-12 22:08] #196 closed

[2015-08-13 07:42] amir-qayyum-khan opened #504 "Edit vocabulary in taxonomy panel"
##### Requirement
Users may want to edit the vocabulary to , for example, change the types of learning resources that vocabulary applies to.

- [ ] Editing a vocabulary should open the Vocabulary tab and populate the form with current values.

Epic https://github.com/mitodl/lore/issues/380

##### Detail
On clicking edit vocabulary button, I will switch tab and open vocabulary in edit mode. Save bu

[2015-08-13 07:46] amir-qayyum-khan opened #505 "Delete vocabulary in taxonomy panel"
##### Requirement
- [ ] Deleting a vocabulary should remove all its terms from all learning resources, and delete the vocabulary as well.
- [ ] **Question** deleting is quite destructive. Does there need to be a confirmation dialog?

Epic https://github.com/mitodl/lore/issues/380
##### Detail

On clicking delete button I will show a confirmation dialog. On confirming I will first delete all terms

[2015-08-13 07:48] amir-qayyum-khan opened #506 "Editing a term in taxonomy panel"
##### Requirement
- [ ] Editing a term should make the term editable in place in the taxonomies panel

Epic https://github.com/mitodl/lore/issues/380

##### Details
On clicking Edit term, I will add in place editing box. where user can edit and save that term. And there will be cancel button to exit edit mode. On save I will re-render list.

cc @pdpinch

[2015-08-13 07:49] amir-qayyum-khan opened #507 "Deleting a term in taxonomy panel"
##### Requirements
- [ ] deleting a term should remove it from all learning resources

Epic https://github.com/mitodl/lore/issues/380

##### Details
On clicking delete term, I will show a confirmation dialog. On confirming I will remove that term and re-render list.

cc @pdpinch

[2015-08-13 16:55] pdpinch opened #509 "Add Google Analytics"

[2015-08-13 17:18] amir-qayyum-khan commented on #504
@pdpinch @carsongee  @ShawnMilo

These is no code for update in `VocabularyList`. So what approach should I select. I am little confuse here
- Should I extend my `VocabularyList` with `RetrieveUpdateDestroyAPIView, ListCreateAPIView` and change url to support PUT and DELETE operations
- Should I create a new API only for delete and update operation. which off-course will extend `RetrieveUpdateDest

[2015-08-13 17:19] pdpinch opened #510 ""Tag Style (on the fly)" terms don't work in the learning resource panel"
As a curator, I'd like to be able create new terms while adding metadata to resources. Choosing "Tag Style" should allow me to create free form terms, but it apparently does not.

[2015-08-13 17:21] ShawnMilo commented on #504
I don't know either. I am going through the [quickstart](http://www.django-rest-framework.org/tutorial/quickstart/) myself to understand the framework for #469. The docs seem very good so far, so unless someone else can give you the direct answer, they seem like the best resource.

[2015-08-13 17:21] pdpinch opened #511 "Sort doesn't appear to be stable"
As a curator, I need to be able to save metadata to resources and have the search results stay stable. Currently, it appears that the index is updated every time metadata is saved, which upsets the order of the search results.

It's not clear if this is due to a bug in the sort widget, or if it is due to sorting on fields that are unpopulated (i.e. number of views).

[2015-08-13 17:24] ShawnMilo commented on #511
What counts are you seeing for the xanalytics field (views, attempts, and average grade)? If they're all zero, then that's why. Sorting is on one of those fields, and if they're all zero then the sorting is essentially random. If that's the case, then the management command added in #475 could be run to resolve the problem on a course-by-course basis.

[2015-08-13 17:30] pdpinch commented on #511
Random would be okay, as long as it was the same random.

Does that mean if two learning resources have the same number of views (say, 100) their order will be non-deterministic?

[2015-08-13 17:32] ShawnMilo commented on #511
I haven't tested it, but that's my first guess. It depends on how Elasticsearch works. I'll mess with it a bit and find out.

[2015-08-13 17:45] pdpinch opened #512 "New facet: Curation status"
Physics team would want a "default" facet  (like "Item type") that will have the following possible state/values :

* Ready-To-Use: Content is ready to drop in a course without editing, and has a complete set of metadata associated with it (topic, learning objectives, keywords).

* Tagged: Minimally curated content. Incomplete metadata, or needs editing to be used in a course.

* Course Informatio

[2015-08-13 17:48] pdpinch opened #513 "Better navigation of paging in search results"
As a user, when my search results span multiple pages, I can use the footer navigation to move forward or back one page at a time. I would like to have a way to skip ahead to an arbitrary page in the results, and also a way to know how many pages there are in my results.

[2015-08-13 18:19] pdpinch opened #514 "Performance: choosing a (large) facet can take tens of seconds"
This perplexes me, because text search is pretty speedy. But choosing a facet -- especially a large one -- appears to take a long time, with perceptible delays for setting up, waiting for the server to respond, and processing the response.

[2015-08-13 18:27] ShawnMilo commented on #514
Please list steps to recreate the problem, and course(s) so it can be replicated locally.

[2015-08-13 18:58] pdpinch commented on #514
Steps to reproduce:

Go to http://lore.odl.mit.edu/repositories/classical-mechanics/?sortby=nr_views&selected_facets=course_exact:8.MechCx
Facet on the first course, "8.MechCx"
i.e. http://lore.odl.mit.edu/repositories/classical-mechanics/?sortby=nr_views&selected_facets=course_exact:8.MechCx

I have seen this take dozens of seconds. At the moment, it's taking about 15 seconds.

[2015-08-13 19:44] ShawnMilo opened #516 "Research Elasticsearch DSL"
The purpose of this issue is to evaluate the Elasticsearch DSL project for use in LORE. This would enable us to eliminate Haystack (which is broken and poorly maintained of late), and have access to all of Elasticsearch's functionality instead of the lowest common feature set exposed by Haystack for all its backends.

@ferdi found [this](http://elasticsearch-dsl.readthedocs.org/en/latest/index.htm

[2015-08-13 20:19] carsongee opened #517 "IntegrityError: duplicate key value violates unique constraint"
[code]

[2015-08-13 20:25] ShawnMilo commented on #517
It's a shame the traceback doesn't contain a single line of code we wrote. That makes it harder to find, duplicate, and fix. :cry:

[2015-08-13 20:28] carsongee commented on #517
It at least gives the URL, I'm guessing something client side like the javascript is likely the issue, and the backend is responding appropriately

[2015-08-13 20:30] ShawnMilo commented on #517
Yeah, the URL helps. This ties into the learning I'm doing about Django REST Framework, so maybe I'll have some insight into it before George gets back from vacation. Amir is also looking into the framework for a ticket he's working on. Education is good.

[2015-08-13 21:30] pdpinch commented on #517
I was trying to edit the description on a resource. It's possible I hit save too many times, but things were really sloooow.

---

I am mobile.

[2015-08-14 11:57] pdpinch commented on #512
@Ferdi what should we do for UI for this? I think you had suggested using a special (text) search term.

[2015-08-14 11:58] pdpinch commented on #418
Let's revert this to use the original horizontal list, but make it responsive so the list collapses when the viewport is shrunk.

[2015-08-14 12:13] pdpinch opened #519 "Performance: Saving changes to a learning resource can take 15-20 seconds"
On [lore-ci](https://lore-ci.herokuapp.com/repositories/ferdit/?sortby=nr_attempts) right now, it's taking me 15-20 seconds to save changes in the learning resource panel.

There's also no user feedback while the save is in progress, so it's tempting to click the save button multiple times, probably leading to issues like #517

[2015-08-14 13:54] ShawnMilo commented on #516
Compared to Haystack letting a bug that actually makes basic functionality of the project _not work_ for nearly five months, the author of Elasticsearch DSL just closed a ticket after 17 days and [apologized](https://github.com/elastic/elasticsearch-dsl-py/pull/217#event-382529749) for the delay.

[2015-08-14 14:33] #490 closed

[2015-08-14 14:41] carsongee commented on #519
So looking at this just with a browser, I see some crazy stuff happening on the panel:
![image](https://cloud.githubusercontent.com/assets/596029/9276142/37d166e2-4270-11e5-8536-b7f7ff26f706.png)
It looks like a lot of the performance may be the javascript paging through the entire static asset set before rendering that panel.  In the case of this screenshot, that appears to have caused a 503 when

[2015-08-14 15:29] carsongee commented on #519
So, looking at that screenshot, I think the bigger issue is that we are patching with 4.6 MiB of data (which is the size of the XML for that LR), instead of just sending the description and terms.  I think we just need to strip out that item in the PATCH.

[2015-08-14 17:14] Ferdi commented on #512
To add some more context , Physics team would want a "default" facet  (like "Item type") that will have the following possible state/values :

* Ready-To-Use: Content is ready to drop in a course without editing, and has a complete set of metadata associated with it (topic, learning objectives, keywords).

* Tagged: Minimally curated content. Incomplete metadata, or needs editing to be used in a c

[2015-08-14 21:10] ShawnMilo commented on #469
It's not much more work to implement create, update, and delete together instead of just delete.

Currently it doesn't make sense to allow creation, since the only useful way to create a course is to import it, and creating it manually would prevent the "duplicate" course (with all the LearningResources) from being imported.

Do we want to allow updating, like the course number? Hypothetically, so

[2015-08-14 21:16] pwilkins opened #521 "vocabulary doesn't display in learningresources pane"
When a learningresource has a term assigned in a vocabulary, I expect to see the vocabulary in the learningresource pane.  Here is a screen shot where this doesn't happen.  This is the DemoX course on lore-ci.  http://lore-ci.herokuapp.com/repositories/animating-stuffed-animals/?sortby=nr_views&selected_facets=77_exact:210

<img width="1177" alt="screen shot 2015-08-14 at 5 04 54 pm" src="https://

[2015-08-14 21:22] Ferdi commented on #521
Which vocabulary do you expect to see there?
- Sent from my phone

[2015-08-17 13:14] pdpinch commented on #210
from Nicolae (preview, b/c github won't display favicon.ico):

<img width="200" alt="screen shot 2015-08-12 at 5 29 35 pm" src="https://cloud.githubusercontent.com/assets/430126/9305557/4b51e05a-44c0-11e5-87ec-7d7c0b322220.png">

[2015-08-17 13:17] pdpinch commented on #438
Needs design.

[2015-08-17 13:19] pdpinch commented on #329
@ShawnMilo Shall we close this issue?

[2015-08-17 13:31] pdpinch commented on #210
Not sure where the file needs to go. For now, just added it in https://github.com/mitodl/lore/tree/feature/add-favicon

[2015-08-17 13:45] pdpinch commented on #513
This used to be part of the template, but we removed it. I believe the old code was in the [listing template](https://github.com/mitodl/lore/blob/dd0fdff21f4b36b2ac903a8717528cb7fea0ec38/ui/templates/listing.html#L93-L107)

[2015-08-17 13:52] ShawnMilo commented on #329
I'm in favor of it, especially considering #516. Are there any objections from your or  @carsongee (since he opened the ticket)?

[2015-08-17 13:56] carsongee commented on #329
no objections, I guess my face punch sad face wasn't explicit enough ;)

[2015-08-17 13:56] #329 closed

[2015-08-17 15:15] pdpinch commented on #512
Break this into separate stories:
- [ ] #534 automatically add this vocabulary to every repo, with all terms created as normal. Regular vocabulary, added to all courses. Still editable. Need to be able to update our existing repos. But we won't update them going forward.
  _3_
- [ ] #535 create the "-- not set --" search filter so it's possible to facet on items without a value. Scoped within a pa

[2015-08-17 15:20] pdpinch commented on #510
Blocked by #500

[2015-08-17 15:34] pdpinch commented on #519
Three things to fix
- [X] Decrease the number of workers
- [x] POST should be smaller. It might include XML, which needn't be posted.
  _2_
- [x] #536 Listing static assets makes multiple calls, which uses too many workers. Suggest going with an "infinite scroll" approach. Or if we can't find a react infinite scroll, could be a "more" button.
  _3_

[2015-08-17 15:41] pdpinch commented on #514
This may need some more measurement. It seems better today. It may simply be due to needing to compile static assets -- which we have a PR #520 already submitted to fix.

We'll wait and see if #520 addresses this.

[2015-08-17 17:09] ShawnMilo commented on #512
It seems that, under the covers, we should treat "discarded" identically to "hidden." If we do not, we'll have to manipulate it further in the UI so that the export checkbox is disabled, and doing so may frustrate some users. Better not to show them. Any objections?

[2015-08-17 18:04] ShawnMilo commented on #512
The best way to implement the "no term" filter is to actually add a term to every vocabulary, for example `--not set--`.

It is [evidently possible](https://github.com/django-haystack/django-haystack/issues/824) to pass a query through Haystack to only show those that are missing, but that would not show a count next to `--not set--`, so if that count was desired (and I assume it would be) then we

[2015-08-17 18:06] pwilkins commented on #521
I expect to see the "Difficulty" vocabulary.  The list is filtered to show only learningresources that have the "Hard" term from "Difficulty" vocabulary selected.  I expect that the LR pane display that vocabulary with "Hard" selected.

[2015-08-17 18:24] ShawnMilo commented on #521
I believe this is not a bug, but "bad" data.

Click on any of the terms under the `Vocab 1` heading and it will behave exactly as you expect.

Background: When you add a new vocabulary, you must select which learning resource types to which that vocabulary applies (see #438 which mentions this). These types are referred to in the logic which displays the screen you are seeing.

The reason is that

[2015-08-17 18:34] pwilkins commented on #521
If this is an artifact of the data loading script, is any action needed?  Can this be closed with a "Not an issue" label?

[2015-08-17 18:47] ShawnMilo commented on #521
It can be fixed by populating the `vocabulary_type` many-to-many with every `LearningResourceType` in existence.

[code]

[2015-08-17 18:59] noisecapella commented on #517
Maybe related to this? https://code.djangoproject.com/ticket/19544

[2015-08-17 19:11] carsongee commented on #517
I just saw this again on lore-ci: Internal Server Error: /api/v1/repositories/animating-stuffed-animals/learning_resources/6366/  if that was maybe someone investigating this

[2015-08-17 20:14] #511 closed

[2015-08-17 20:54] carsongee opened #528 "Caching too much"
From running a profiler it looks like we are spending 1/4 of our time on cache sets and gets:
![image](https://cloud.githubusercontent.com/assets/596029/9315931/30c94080-4500-11e5-96ff-20bea888074d.png)

Even though only 139 calls are being made to `get_vocabs`:
![image](https://cloud.githubusercontent.com/assets/596029/9315979/6c6dd902-4500-11e5-8442-f8215f56fd3d.png)

From looking at:
https://gi

[2015-08-17 20:57] ShawnMilo commented on #528
The problem is that if we cache only a single LearningResource in the context of importing a course, we will do database lookups per `LearningResource`, which is very wasteful.

Maybe we can figure out a way to only populate the entire cache during course import without doing something ugly in the code. Setting a Redis (or cache) key with the course ID upon creation of the `Course` object could wo

[2015-08-17 21:20] carsongee commented on #528
Is it more wasteful that doing a cache set and get for each LR in the entire DB for each new resource (about 30k LRs in lore CI right now for example)? If that is true, that is cool, I'll go looking elsewhere, this just ate up 1/4 of the time of an import of the demo course on a fresh blank install, so it jumped out in the profile data, but I can keep looking.

[2015-08-17 21:23] ShawnMilo commented on #528
The way it works now, if it goes to get the vocab info for any `LearningResource` during indexing and finds no result in the cache, it fills the cache for that entire course. This is to make course imports faster. There are tests that show caching results in fewer queries.

However, when that's triggered during non-import use, it's clearly very wasteful. I agree it should be fixed, I just think we

[2015-08-17 21:27] carsongee commented on #528
Looks like 18% of the time was spent saving to the DB as well, and I mispoke on the 1/4, it was half of the cumulative time that was spent in `get_vocabs`, it was a 47s import

[2015-08-17 21:28] carsongee commented on #528
It isn't filling the cache for the entire course though right?  It is doing it for the entire database?  It is `LearningResources.objects.all()`, not `LearningResources.objects.filter(course=course)`, is it maybe just a little mixup, or does it need to do `.all()`?

[2015-08-17 21:36] ShawnMilo opened #529 "The vocabulary cache is incorrectly pre-poplated for all LearningResources."
Function `get_vocab` in `search_indexes.py` fills the cache with vocabulary information for all `LearningResource` instances in a course. This is done any time the vocabulary information is requested for any `LearningResource` in the course.

Since some resources may not have any vocabulary information, it would _always_ populate the cache for the entire course, which is wasteful. So, part of this

[2015-08-17 21:37] ShawnMilo commented on #528
No, it's properly only filling the cache for the course. However, you did find a bug, which I just filed as #529 and will fix today.

[2015-08-17 21:49] noisecapella opened #530 "Open panels don't darken the rest of the page"
This was caused by CSS changes in #473

[2015-08-18 12:49] #521 closed

[2015-08-18 12:53] pdpinch commented on #512
Would you have to add some logic to remove `-- not set --` whenever another value is chosen?

I'm not sure that `-- not set --` needs to be the last facet. I'd be fine with it sorting as normal, as long as it always appears.

[2015-08-18 12:58] pdpinch opened #534 "automatically add a 'Curation Status' vocabulary to every repo"
As a curator, I need a way to track my workflow.

This will be a standard vocabulary, at least to start -- and not additional fields on the learning resource model). As a standard vocabulary, we will allow curators to edit it, although we may revisit that in the future. We will need some way to update existing repositories.

[2015-08-18 13:01] pdpinch opened #535 "Allow users to facet on 'not set'"
As a user, I'd like to be able to filter my search results on items that have no value set in a particular vocabulary. This is particularly useful for curators who would use this for tracking which items they have curated.

Part of #534 "Curation Status" epic.

[2015-08-18 13:05] pdpinch opened #536 "Performance: Static Assets tab slows loading of learning resource panel"
Building the static asset list in the learning resource panel makes multiple API calls, which uses too many workers.

Since most users aren't interested in the entire list, suggest loading the list incrementally -- either with an "infinite scroll" (nice!) or a basic "more" button (if we can't easily find an infinite scroll that works in react)

Part of a solution to #519

[2015-08-18 13:24] amir-qayyum-khan commented on #513
@pdpinch  Is there any mock up for this task? Any design you are interested in. Or i need to give an idea of representation?

[2015-08-18 13:36] pdpinch commented on #513
No mock ups. See if you can make it fit in with the existing < and > navigation. Start with the code linked above?

[2015-08-18 13:57] amir-qayyum-khan commented on #513
ok, sure. let me try

[2015-08-18 14:36] #530 closed

[2015-08-18 14:54] pdpinch opened #537 "Performance: set up statsd tracking on production"
As a devops, I'd like to identify performance issues in production

[2015-08-18 16:37] #529 closed

[2015-08-18 19:14] #509 closed

[2015-08-18 19:34] #312 closed

[2015-08-19 00:25] pdpinch opened #541 "Use font-awesome sign-out icon in user menu"
This was part of a PR that was reverted:

https://github.com/mitodl/lore/commit/ea2ac744ce00a589d1dfabcdd7e56dfeef583177?diff=unified#diff-986101306f1a3389c13334621d6031c9R78

[2015-08-19 12:20] carsongee commented on #528
So the fix definitely helped for installations where there are a lot of assets in total, but get_vocab was still taking a fair amount time, and from looking at the profile, it looked like the cache was never getting used (it was called 139 times on a course import with 139 LRs.  I added an exception raise to confirm:

[code]

and the exception was never raised, so I commented out the cache priming

[2015-08-19 12:32] carsongee commented on #528
It looks like MechCX went from hours to about 5 minutes locally with that change as well

[2015-08-19 12:37] ShawnMilo commented on #528
Did that hours-to-minutes change occur with branch, or you commenting out the caching?

[2015-08-19 12:40] carsongee commented on #528
Just that last git diff you see, so commenting out the caching from master as of last night (around 4).

[2015-08-19 13:58] ShawnMilo commented on #512
@pdpinch: Great catch on removing it when others are added; that's on my list. I think it's nice if it can appear at the bottom for consistency, and that's already been done without any difficulty. As a side-effect, it also orders the other options alphabetically, where before they were random.

[2015-08-19 14:50] carsongee commented on #528
Makes sense, looking at the profile for that large course with the caching code in it is taking 92% of the total import time:
![image](https://cloud.githubusercontent.com/assets/596029/9359597/efff7dce-465f-11e5-9014-9252d69fe75f.png)
Since it is O(n<sup>2</sup>) if the cache always misses (which it does)

[2015-08-19 16:00] noisecapella opened #546 "Static asset links don't work for local servers (when LORE_USE_S3 is disabled)"
An empty response is received instead

[2015-08-19 19:07] ShawnMilo commented on #512
I've run into an issue trying to do TDD here. Creating a `Repository` does not give the user who created it the proper permissions unless the repo is created using the restful API.

This is a problem because I have a signal on `post_save` which creates the "curation status" vocabulary for the repo when it is added. For this, I am following the convention in the taxonomy API, which is to accept `re

[2015-08-19 19:25] noisecapella commented on #512
It seems inconsistent if only `Repository.save` assigns permissions and not any of the other models' `save` methods, although it seems like a reasonable permission to assign. I could go either way here

[2015-08-19 19:44] ShawnMilo opened #549 "assign repository admin permissions upon save, not in api views"
Currently, `assign_user_to_repo_group` is called in the view of the restful API (`rest/views.py`). This means than any other code which creates a repository must individually import and execute `roles.api.assign_user_to_repo_group`. This can be simplified by explicitly calling `roles.api.assign_user_to_repo_group` during `Repository.save()`, either directly or via a signal.

This is currently bloc

[2015-08-20 14:20] #541 closed

[2015-08-20 14:53] #549 closed

[2015-08-20 17:29] #546 closed

[2015-08-20 18:31] giocalitri opened #552 "Inconsistent behavior while assigning terms to learning resources"
The database gets updated in the right way, but the index in elasticsearch does not update accordingly, so the terms do not show up all the time in the facets.

[2015-08-20 18:35] noisecapella commented on #552
I was able to reproduce this on master. Removing a term from a resource caused the index to update correctly but adding a term to a resource didn't update the index. Refreshing the listing page shows that the facets remain at the values they were before, and the listing when filtering on the relevant term is missing the resource that was just assigned to the term.

[2015-08-20 19:37] noisecapella opened #553 "REST search endpoint"
This would be necessary to allow our javascript to query for search updates without doing a page refresh each time.

[2015-08-21 12:17] pdpinch commented on #418
This has been reverted in #539

We'll reopen this when we have more buttons & a need for a menu.

[2015-08-21 12:17] #418 closed

[2015-08-21 15:37] ShawnMilo opened #556 "Strip vocabulary caching out of Elasticsearch indexing."
It causes a bug which isn't consistently duplicated, and also slows down imports. Strip it out for now and we can worry about it later if it becomes a problem.

[2015-08-21 16:00] #556 closed

[2015-08-21 17:24] carsongee commented on #528
Closed by #556

[2015-08-21 17:24] #528 closed

[2015-08-21 18:01] ShawnMilo commented on #512
When a vocabulary is created, the user can select which `LearningResourceType`s it applies to.

Does the curation status apply to _all_ types, or just a subset? @pdpinch

[2015-08-21 18:32] ShawnMilo commented on #512
Note: The migration for backfilling the curator vocabulary to existing repositories and setting the "not set" default on all existing LearningResources implicitly causes a re-index of the entire database.

Just FYI, because the deployment on this one could be slow. It took under 90 seconds locally, but YMMV.